<div class="tenders">
    <div>
        <div class="action-bar" fxLayout="row" fxLayoutAlign="space-between center">
            <div *ngIf="!userRole?.includes('contractor')" fxLayout="row" fxLayoutAlign="center center">
                <h2>Tenders</h2>
            </div>
            <div class="list-grid" *ngIf="userRole?.includes('contractor')">
                <mat-button-toggle-group class="all-tenders">
                    <mat-button-toggle class="toggle-first" routerLink="/tenders">
                        <div>All Tenders</div>
                    </mat-button-toggle>
                    <mat-button-toggle class="toggle-last" routerLink="/applied-tenders">
                        <div>Applied Tenders</div>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div *ngIf="userRole?.includes('client')">
                <button mat-raised-button (click)="createTender()">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                        <i class="icon-20p fa-solid fa-circle-plus"></i>
                        <div><span>Create Tender</span></div>
                    </div>
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div class="list-grid">
                <mat-button-toggle-group [value]="toggle" (change)="toggleView($event)">
                    <mat-button-toggle [value]="true">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                            <div><i class="fa-solid fa-list"></i></div>
                            <div>List</div>
                        </div>
                    </mat-button-toggle>
                    <mat-button-toggle [value]="false">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                            <div><i class="fa-solid fa-grip-vertical"></i></div>
                            <div>Grid</div>
                        </div>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <button *ngIf="toggle" type="button" mat-icon-button matTooltip="Download Tender List" matTooltipPosition="left"
                (click)="exportTendersFile()">
                <i class="icon-size fa-solid fa-file-csv"></i>
            </button>
        </div>
        <div *ngIf="toggle">
            <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                [pagination]="true" [rowData]="rowData" [animateRows]="true" [sideBar]="sideBar"
                (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents" [domLayout]="domLayout">
            </ag-grid-angular>
        </div>
        <div *ngIf="!toggle" class="tenders-page" fxLayout="row wrap" fxLayoutAlign="start center"
            fxLayoutGap="20px grid">
            <div fxFlex="50%" fxFlex.md="50%" fxFlex.xs="100%" fxFlex.sm="100%"
                *ngFor="let tender of rowData;let indexOfelement=index;">
                <mat-card>
                    <div fxLayout="column" fxLayoutGap="12px">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <a [routerLink]="['/tenders/edit-tender', tender.tender_id]">
                                <h3>Tender ID: {{tender.tender_id}}</h3>
                            </a>
                            <h3>Status: {{StatusValues[tender.workflow_step]}} </h3>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <div fxLayout="column">
                                <h5><span class="text-maroon">Type of Work:</span>
                                    {{tender.establishment_description}}</h5>
                                <h5><span class="text-maroon">Project Name:</span>
                                    {{tender.project_name}}
                                </h5>
                                <h5><span class="text-maroon">Description:</span> {{tender.work_description}}</h5>
                                <h5><span class="text-maroon">Type of Contract:</span>
                                    {{tender.type_of_contract}}
                                </h5>
                            </div>
                            <!-- <div fxLayoutAlign="center center">
                                <button mat-stroked-button>
                                    Contractors Applied
                                </button>
                            </div> -->
                            <div fxLayoutAlign="center center">
                                <button mat-stroked-button *ngIf="userRole?.includes('admin')"
                                    (click)="navigateToPQForm(tender.tender_id,tender.pq_id)">
                                    {{buttonLabel[indexOfelement]}}
                                </button>
                                <button *ngIf="!userRole?.includes('admin') && tender.workflow_step != 'DRAFT'  && tender.pq_id "
                                    mat-stroked-button (click)="viewPQForm(tender.tender_id,tender.pq_id)">
                                    {{constVariable.viewPQFormBtn}}</button>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="row">
                                <i class="location-icon fa-solid fa-location-dot"></i>
                                <h5>{{tender.project_location}}</h5>
                            </div>
                            <h5><span class="text-maroon">Contract Duration: </span>{{tender.contract_duration}}
                                {{tender.duration_counter}}
                            </h5>
                        </div>
                        <div>
                            <mat-divider></mat-divider>
                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                            <div *ngIf="!userRole?.includes('contractor')" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
                                <div>
                                    <h5 class="text-maroon bold-500">Tender Document</h5>
                                </div>
                                <span matTooltip="{{tender.tender_document_name}}"
                                    (click)="downloadDocument(tender.tender_id)"><i
                                        class="icon-download fa-solid fa-file-arrow-down"></i></span>
                            </div>
                            <div *ngIf="userRole?.includes('contractor') && tender.workflow_step == 'QUALIFIED'" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
                                <div>
                                    <h5 class="text-maroon bold-500">Tender Document</h5>
                                </div>
                                <span matTooltip="{{tender.tender_document_name}}"
                                    (click)="downloadDocument(tender.tender_id)"><i
                                        class="icon-download fa-solid fa-file-arrow-down"></i></span>
                            </div>
                            <h5><span class="text-maroon">Last Date of Submission: </span>
                                {{tender.last_date_of_submission}}</h5>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>