.tenders {
    width: 100%;
    min-height: 100%;
    color: #841618;
    padding: 24px;
}

.mat-raised-button {
    background-color: #841618;
    color: white;
}

mat-button-toggle {
    color: #841618;
    background-color: white;
}

.mat-button-toggle-checked {
    color: white;
    background-color: #841618;
}

.toggle-first {
    border-radius: 0 !important;
    border-left: #841618 1px solid;
    border-top: #841618 1px solid;
    border-bottom: #841618 1px solid;
}

.toggle-last {
    border-radius: 0 !important;
    border-right: #841618 1px solid;
    border-top: #841618 1px solid;
    border-bottom: #841618 1px solid;
}

table {
    width: 100%;
}

::ng-deep .example-container {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

mat-paginator {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

th {
    color: #841618;
    font-size: 14px;
    font-weight: 500;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 32px !important;
}


//matcard styles
.tenders-page mat-card {
    min-height: 120px;
    border-radius: 0px !important;
    padding: 24px !important;
}

.tenders-page mat-card h3 {
    color: #841618;
    font-weight: 500;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.tenders-page .mat-stroked-button {
    font-size: 12px;
    font-weight: 500;
    color: #841618;
}

.location-icon {
    font-size: 16px;
    color: #841618;
    height: 16px;
    width: 16px;
}

.download-icon,
.upload-icon {
    font-size: 20px;
    color: #841618;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.mat-divider {
    border-top-color: #841618;
}

.tenders-page mat-card h5 {
    font-weight: 500;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.text-maroon {
    color: #841618;
}

.bold-500 {
    font-weight: 500;
}

.bold-700 {
    font-weight: 700;
}

.icon-edit {
    font-size: 16px;
    height: 16px;
    color: #841618;
}

//ag-grid
::ng-deep ag-grid-angular {
    width: 100% !important;
}

::ng-deep .ag-root-wrapper-body.ag-layout-normal.ag-focus-managed {
    height: 100% !important;
}

//ag-grid cell text wrap in words
::ng-deep .ag-cell-wrap-text {
    word-break: break-word !important;
}