<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
   <span *ngIf="!userRole?.includes('contractor')" matTooltip="{{label}}" (click)="btnClickedHandler(rowData)">
      <i class="icon-download fa-solid fa-file-arrow-down"></i>
   </span>
   <span *ngIf="userRole?.includes('contractor') && rowData.workflow_step == 'QUALIFIED'" matTooltip="{{label}}"
      (click)="btnClickedHandler(rowData)">
      <i class="icon-download fa-solid fa-file-arrow-down"></i>
   </span>
   <button mat-stroked-button *ngIf="userRole?.includes('admin')" (click)="navigateToPQForm()">{{buttonLabel}}</button>
   <button *ngIf="!userRole?.includes('admin') && rowData.workflow_step != 'DRAFT' && rowData.pq_id " mat-stroked-button
      (click)="viewPQForm()">{{constantVariables.viewPQFormBtn}}</button>
   <button
      *ngIf="(userRole?.includes('admin') || userRole?.includes('client')) && (rowData.workflow_step != 'DRAFT') && (rowData.workflow_step != 'YET_TO_BE_PUBLISHED') && (rowData.workflow_step != 'PUBLISHED')"
      mat-stroked-button (click)="viewTenderApplicants()">
      {{constantVariables.viewApplicantsBtn}}
   </button>
   <button *ngIf="userRole?.includes('contractor')" mat-stroked-button (click)="applyTenderApplicantForm()"
      [disabled]="btnTenderApplnstate" matTooltip="{{disableMsg}}">{{applyBtnLabel}}</button>
      <button mat-stroked-button *ngIf="userRole?.includes('admin')" (click)="navigateToPayments()">{{constantVariables.buttonPayment}}</button>
</div>