<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
   <mat-icon *ngIf="!userRole?.includes('contractor')" class="download-icon" matTooltip="{{label}}"
      (click)="btnClickedHandler(rowData)">file_download</mat-icon>
   <button mat-stroked-button (click)="navigateToPQForm()">PQ-Form</button>
   <button *ngIf="!userRole?.includes('contractor')" mat-stroked-button (click)="navigateToApplicants()">View Applicants</button>
   <button *ngIf="userRole?.includes('contractor')" mat-stroked-button (click)="navigateToApplyPQForm()">Apply</button>
</div>