<div class="view-applicants">
    <div class="breadcrumbs" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="12px grid">
        <div fxLayoutAlign="center center">
            <xng-breadcrumb [separator]="separatorTemplate">
                <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info;">
                    <div><i *ngIf="info" class="icon-breadcrumb {{info}}"></i></div>
                    <ng-container>{{ breadcrumb | uppercase }}</ng-container>
                </ng-container>
            </xng-breadcrumb>
        </div>
        <ng-template #separatorTemplate>
            <i class="fa-solid fa-caret-right"></i>
        </ng-template>
        <div>
            <button [disabled]="rowData?.length==0 || !selectedRowsLength" mat-raised-button (click)="onSelect()">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                    <div><i class="icon-20p fa-solid fa-code-compare"></i></div>
                    <div><span>Compare Applicants</span></div>
                </div>
            </button>
        </div>
    </div>
    <div>
        <mat-card fxLayout="column" fxLayoutGap="12px">
            <ag-grid-angular class="ag-theme-alpine" [animateRows]="true" [domLayout]="domLayout"
                [columnDefs]="columnDefs" [rowData]="rowData" [defaultColDef]="defaultColDef" [rowDragEntireRow]="true"
                [rowDragManaged]="true" (gridReady)="onGridReady($event)" (rowValueChanged)="onRowValueChanged($event)"
                [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)"
                (rowSelected)="onRowSelected($event)" (rowDragEnd)="onRowDragEnd($event)"
                (rowDragMove)="onRowDragMove($event)" [stopEditingWhenCellsLoseFocus]=true
                (cellValueChanged)="onCellValueChanged($event)">
            </ag-grid-angular>
            <div class="action-btn" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px">
                <button mat-button style="background-color: grey;" (click)="onUpdate()" disabled={{btnstate}}>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                        <i class="icon-save fa-solid fa-floppy-disk"></i>
                        <div>{{constantVariable.saveBtn}}</div>
                    </div>
                </button>
                <button mat-button style="background-color: green;" (click)="onSubmit()" disabled={{btnstate}}>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                        <i class="icon-submit fa-solid fa-paper-plane"></i>
                        <div>{{constantVariable.submitBtn}}</div>
                    </div>
                </button>
                <button mat-button style="background-color: green;" (click)="onRecommend()">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                        <i class="icon-submit fa-solid fa-paper-plane"></i>
                        <div>{{constantVariable.recommendBtn}}</div>
                    </div>
                </button>
            </div>
        </mat-card>
    </div>
</div>