<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="12px">

    <!-- <label for="file" class="file-input">
       
    </label> -->
    <input style="width: 20%;" id="files" type="file" class="form-control" (change)="onFileChange($event)" matTooltip=" "
        [disabled]=fileUploadbtn>
    <!-- <label class="icon-button" for="files" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <i class="fa-icons fa-icons fa-solid fa-file-arrow-up"></i>
    </label> -->
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <div>
            <span *ngIf="!file?.name && !fileName">No file Choosen</span>
            <span *ngIf="fileName">{{fileName}}</span>
            <span>{{file?.name}}</span>
        </div>
        <div>
            <button *ngIf="file?.name || fileName" type="button" mat-icon-button matTooltip="Remove Document"
                matTooltipPosition="right" (click)="removeSelectedFile(file || fileName)" disabled={{fileUploadbtn}}>
                <i class="fa-icons fa-regular fa-circle-xmark"></i>
            </button>
            <button *ngIf="file?.name || fileName" type="button" mat-icon-button matTooltip="Download Document"
                matTooltipPosition="right" disabled={{fileUploadbtn}} (click)="downloadApplicantPQFormFile()">
                <i class="fa-icons icon-download fa-solid fa-file-arrow-down"></i>
            </button>
        </div>
    </div>
</div>