<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="12px">
    <div>
        <button (click)="fileInput.click()">Choose File</button>
        <input style="display: none;" #fileInput type="file" class="file-input" (change)="onFileChange($event)"
            [disabled]=fileUploadbtn>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <div>
            <span *ngIf="!file?.name && !fileName">No file Choosen</span>
            <span *ngIf="fileName">{{fileName}}</span>
            <span>{{file?.name}}</span>
        </div>
        <div>
            <button *ngIf="file?.name || fileName" type="button" mat-icon-button matTooltip="Remove Document"
                matTooltipPosition="right" (click)="removeSelectedFile(file || fileName)" disabled={{fileUploadbtn}}>
                <i class="fa-icons fa-regular fa-circle-xmark"></i>
            </button>
            <button *ngIf="file?.name || fileName" type="button" mat-icon-button matTooltip="Download Document"
                matTooltipPosition="right" disabled={{fileUploadbtn}} (click)="downloadApplicantPQFormFile()">
                <i class="fa-icons icon-download fa-solid fa-file-arrow-down"></i>
            </button>
        </div>
    </div>
</div>