<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="12px">
    <label class="icon-button" for="file" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <i class="fa-icons fa-icons fa-solid fa-file-arrow-up"></i>
    </label>
    <label for="file" class="file-input">
        <input id="file" type="file" class="form-control" (change)="onFileChange($event)" hidden>
    </label>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <div>
            <span *ngIf="!file?.name && !fileName">No file Choosen</span>
            <span *ngIf="fileName">{{fileName}}</span>
            <span>{{file?.name}}</span>
        </div>
        <div>
            <button *ngIf="file?.name" type="button" mat-icon-button matTooltip="Remove Document"
                matTooltipPosition="right" (click)="removeSelectedFile(file)">
                <i class="fa-icons fa-regular fa-circle-xmark"></i>
            </button>
            <button *ngIf="fileName" type="button" mat-icon-button matTooltip="Download Document"
                matTooltipPosition="right">
                <i class="fa-icons icon-download fa-solid fa-file-arrow-down"></i>
            </button>
        </div>
    </div>
</div>