::ng-deep .icon-button {
    cursor: pointer !important;
}

::ng-deep .mat-tooltip {
    background-color: #841618 !important;
}

.fa-icons {
    color: #841618;
}

::ng-deep .file-input {
    margin-right: 0px !important;
}