<!-- <div class="breadcrumbs">
    <xng-breadcrumb [separator]="separatorTemplate">
      <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info;">
        <mat-icon class="icon-breadcrumb" *ngIf="info">{{ info }}</mat-icon>
        <ng-container>{{ breadcrumb }}</ng-container>
      </ng-container>
    </xng-breadcrumb>
  </div>
  <ng-template #separatorTemplate>
    <mat-icon>arrow_right</mat-icon>
  </ng-template> -->
<div class="pending-approvals">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="24px grid">
        <div class="text-maroon" fxLayout="row" fxLayoutAlign="start center">
            <h2>Pending Approvals</h2>
        </div>
        <div class="action-buttons" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
            <button [disabled]="dataSource.data.length==0||!selection.hasValue()" mat-raised-button
                class="button-approve" (click)="getAllApproveIDs(selection.selected)">Approve</button>
            <button [disabled]="dataSource.data.length==0||!selection.hasValue()" mat-raised-button
                class="button-reject" (click)="getAllRejectIDs(selection.selected)">Reject</button>
        </div>
    </div>
    <!-- {{selection.selected | json}} -->
    <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="select" sticky>
                <th class="column-select" mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td class="column-select" mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="companyName" sticky>
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        Company Name
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            Company Name
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="Company Name Filter"
                                    [formControl]="companyNameFilter" #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.companyName}} </td>
            </ng-container>
            <ng-container matColumnDef="yearOfEstablishment">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        Year of Establishment
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            Year of Establishment
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="Year Of Establishment Filter"
                                    [formControl]="yearOfEstablishmentFilter" #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.yearOfEstablishment}} </td>
            </ng-container>
            <ng-container matColumnDef="typeOfEstablishment">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        Type of Establishment
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            Type of Establishment
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="Type Of Establishment Filter"
                                    [formControl]="typeOfEstablishmentFilter" #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.typeOfEstablishment}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        Address
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            Address
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="Address Filter"
                                    [formControl]="addressFilter" #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.address}} </td>
            </ng-container>
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        City
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            City
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="City Filter" [formControl]="cityFilter"
                                    #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.city.cityName}} </td>
            </ng-container>
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        State
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            State
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="State Filter"
                                    [formControl]="stateFilter" #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.state.stateName}} </td>
            </ng-container>
            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        Country
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            Country
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="Country Filter"
                                    [formControl]="countryFilter" #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.country.countryName}} </td>
            </ng-container>
            <ng-container matColumnDef="contactFirstName">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        Contact First Name
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            Contact First Name
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="Contact First Name Filter"
                                    [formControl]="contactFirstNameFilter" #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.contactFirstName}} </td>
            </ng-container>
            <ng-container matColumnDef="contactLastName">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        Contact Last Name
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            Contact Last Name
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="Contact Last Name Filter"
                                    [formControl]="contactLastNameFilter" #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.contactLastName}} </td>
            </ng-container>
            <ng-container matColumnDef="contactDesignation">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        Contact Designation
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            Contact Designation
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="Contact Designation Filter"
                                    [formControl]="contactDesignationFilter" #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.contactDesignation}} </td>
            </ng-container>
            <ng-container matColumnDef="contactPhoneNumber">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        Contact Phone Number
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            Contact Name
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="Contact Phone Number Filter"
                                    [formControl]="contactPhoneFilter" #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.contactPhoneNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="contactEmailAddress">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="header">
                        Contact Email Address
                        <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                            <span class="material-icons icon-filter">filter_alt</span>
                        </button>
                    </div>
                    <mat-menu #menu>
                        <div mat-menu-item mat-filter-item class="menu-title">
                            Contact Email Address
                        </div>
                        <div mat-menu-item mat-filter-item [disableRipple]="true" (click)="$event.stopPropagation();">
                            <mat-form-field appearance="outline">
                                <input matInput class="form-field" placeholder="Contact Email Address Filter"
                                    [formControl]="contactEmailAddressFilter" #input>
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="button-clear" fxLayoutAlign="end center">
                            <button mat-stroked-button type="reset" (click)="clearFilters()">clear</button>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let row"> {{row.contactEmailAddress}} </td>
            </ng-container>
            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef aria-label="row actions"> Actions </th>
                <td mat-cell *matCellDef="let row">
                    <div fxLayout="row">
                        <button mat-icon-button class="icon-approve" matTooltip="Approve" matTooltipPosition="left"
                            (click)="getApproveID(row.id)">
                            <span class="material-icons">task_alt</span>
                        </button>
                        <button mat-icon-button class="icon-reject" matTooltip="Reject" matTooltipPosition="right"
                            (click)="getRejectID(row.id)">
                            <span class="material-icons">
                                highlight_off
                            </span>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </section>
    <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
    </mat-paginator>
</div>