.pending-approvals {
    padding: 24px;
}

::ng-deep .button-approve {
    color: white;
    background-color: green;
}

::ng-deep .button-reject {
    background-color: #841618;
    color: white;
}

.text-maroon {
    color: #841618;
}

::ng-deep .mat-tooltip {
    background-color: #841618 !important;
}


//ag-grid cell text wrap in words
::ng-deep .ag-cell-wrap-text {
    word-break: break-word !important;
}

::ng-deep .ag-theme-alpine {
    --ag-odd-row-background-color: #f0f0f0 !important;
}

::ng-deep.ag-theme-alpine .ag-row-odd {
    background-color: var(--ag-odd-row-background-color) !important;
}