<div class="pending-approvals">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="24px grid">
        <div class="text-maroon" fxLayout="row" fxLayoutAlign="start center">
            <h2>Pending Approvals</h2>
        </div>
        <div class="action-buttons" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
            <button [disabled]="allPendingApprovals.length==0 || !selectedDataLength" mat-raised-button
                class="button-approve" (click)="onApproveSelected()">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <i class="icon-20p fa-regular fa-circle-check"></i>
                    <span>Approve</span>
                </div>
            </button>
            <button [disabled]="allPendingApprovals.length==0 || !selectedDataLength" mat-raised-button
                class="button-reject" (click)="onRejectSelected()">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                    <i class="icon-20p fa-regular fa-circle-xmark"></i>
                    <span>Reject</span>
                </div>
            </button>
        </div>
    </div>
    <div class="example-wrapper">
        <ag-grid-angular class="ag-theme-alpine" [columnDefs]="ColumnDefs" [defaultColDef]="DefaultColDef"
            [rowData]="allPendingApprovals" [domLayout]="domLayout" [pagination]="true"
            [paginationPageSize]="paginationPageSize" (gridReady)="onGridReady($event)" [rowSelection]="rowSelection"
            (selectionChanged)="onSelectionChanged($event)" [suppressRowClickSelection]="true">
        </ag-grid-angular>
    </div>
</div>