.edit-user {
    padding: 24px;
}

.update-form {
    padding: 24px;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px 0.8em 0px !important;
    font-size: 12px !important;
}

::ng-deep .edit-user h2 {
    color: #841618;
}

form mat-label {
    color: #841618;
}

.icon-20p {
    font-size: 20px;
}

.icon-gray {
    color: gray;
}

.icon-error {
    font-size: 20px;
}