@font-face {
    font-family: 'Saira';
    src: url(/assets/font/Saira/Saira-VariableFont_wdth,wght.ttf) format("truetype");
}

.about-us-page {
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: white;
}

.about-us-page h1 {
    font-family: "Saira", sans-serif;
    color: #841618;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
}

.about-us-page h5 {
    font-family: "Saira", sans-serif;
    font-size: 20px;
    font-weight: 480;
    text-align: justify;
    line-height: 28px;
}

.aboutus-img {
    height: 450px;
}