<div class="about-us-page" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="24px">
        <div class="about-us-page-body" fxLayout="column">
            <h1>{{constVariable.aboutUs}}</h1>
            <h5>{{constVariable.aboutUsMsg}}
            </h5><br>
            <h1>{{constVariable.ourValues}}</h1>
            <h5>{{constVariable.ourValuesMsg}}
            </h5>
        </div>
        <div fxHide.lt-md>
            <img class="aboutus-img" src="assets/images/aboutus.png">
        </div>
    </div>
</div>