<div class="about-us-page">
    <div class="about-us-page-outline">
        <div class="about-us-page-body">
            <h1>About Us</h1>
            <h5>Construction projects in India has been hugely delaying for multiple reasons. Major part of the blame
                goes to the executing agencies and material suppliers not being adequately resourceful, reliable, or not
                having the required quality standards as expected by the builder/client. Hence selection process of
                vendors and
                suppliers and closing contract agreements and purchase agreements, in way mostly favourable to the
                builder/project owner becomes the key aspect of every construction project.</h5>
        </div>
        <div class="about-us-footer"></div>
    </div>
    
</div>