<div class="clients">
    <div class="text-maroon" fxLayout="row" fxLayoutAlign="start center">
        <h2>Clients</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="toggle-group">
            <mat-button-toggle-group [value]="toggle" (change)="toggleView($event)">
                <mat-button-toggle [value]="true">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                        <div><i class="fa-solid fa-list"></i></div>
                        <div>List</div>
                    </div>
                </mat-button-toggle>
                <mat-button-toggle [value]="false">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                        <div><i class="fa-solid fa-grip-vertical"></i></div>
                        <div>Grid</div>
                    </div>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <button *ngIf="toggle" type="button" mat-icon-button matTooltip="Download Client List" matTooltipPosition="left"
            (click)="exportClientsFile()">
            <i class="icon-size fa-solid fa-file-csv"></i>
        </button>
    </div>
    <div *ngIf="toggle">
        <ag-grid-angular class="ag-theme-alpine" [columnDefs]="ColumnDefs" [defaultColDef]="DefaultColDef"
            [rowData]="allClientUsers" [domLayout]="domLayout" [pagination]="true"
            [paginationPageSize]="paginationPageSize" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
    <div *ngIf="!toggle" class="clients-page" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px grid">
        <div fxFlex="25%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.xs="100%" fxFlex.sm="100%"
            *ngFor="let client of allClientUsers">
            <mat-card>
                <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="8px">
                    <div>
                        <h3>Contact Name: <span class="bold-500">{{client.contact_first_name}}
                                {{client.contact_last_name}}</span></h3>
                        <h3>Company Name: <span class="bold-500">{{client.company_name}}</span></h3>
                    </div>
                    <app-highcharts [total_tenders]="['Total Tenders']" [recommended]="['Recommended']"
                        [under_process]="['Under Process']" [published]="['Published']"
                        [totalTendersData]="[client.total_tenders]" [recommendedData]="[client.recommended_step]"
                        [underProcessData]="[client.under_process_step]" [publishedData]="[client.publish_step]">
                    </app-highcharts>
                </div>
            </mat-card>
        </div>
    </div>
</div>