<div class="tender-form" fxLayoutAlign="center center">
    <div fxFlex="60" fxFlex.lg="60" fxFlex.md="90">
        <mat-card>
            <form [formGroup]="tenderDetails">
                <div fxLayout="column">
                    <div>
                        <h3>Tender Details</h3>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="2px grid">
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="48%" fxFlex.lg="48%" fxFlex.xl="48%"
                            fxLayout="column">
                            <mat-label>Type of Work</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select Type of Work" formControlName="type_of_work">
                                    <mat-select-filter [placeholder]="'Search'" [array]="typeOfWorks"
                                        (filteredReturn)="typeOfWorksList =$event">
                                    </mat-select-filter>
                                    <mat-option *ngFor="let item of typeOfWorksList" [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="tenderDetails.get('type_of_work')?.errors?.['required']">
                                    Type of Work is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="48%" fxFlex.lg="48%" fxFlex.xl="48%"
                            fxLayout="column">
                            <mat-label>Project Location</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Project Location" formControlName="project_location">
                                <mat-error *ngIf="tenderDetails.get('contract_duration')?.errors?.['required']">
                                    Enter Project Location
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="48%" fxFlex.lg="48%" fxFlex.xl="48%"
                            fxLayout="column">
                            <mat-label>Description of Work</mat-label>
                            <mat-form-field appearance="outline">
                                <textarea matInput placeholder="Description of Work"
                                    formControlName="description_of_work"></textarea>
                                <mat-error *ngIf="tenderDetails.get('description_of_work')?.errors?.['required']">
                                    Type Description of Work
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="48%" fxFlex.lg="48%" fxFlex.xl="48%"
                            fxLayout="column">
                            <mat-label>Contract Duration (Months or Days)</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Contract Duration" formControlName="contract_duration">
                                <mat-error *ngIf="tenderDetails.get('contract_duration')?.errors?.['required']">
                                    Choose last date of submission
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="48%" fxFlex.lg="48%" fxFlex.xl="48%"
                            fxLayout="column">
                            <mat-label>Last Date of Submission</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY"
                                    formControlName="date_of_submission">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="tenderDetails.get('date_of_submission')?.errors?.['required']">
                                    Choose last date of submission
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="48%" fxFlex.lg="48%" fxFlex.xl="48%"
                            fxLayout="column">
                            <mat-label>Type of Contract</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select Type of Contract" formControlName="type_of_contract">
                                    <mat-select-filter [placeholder]="'Search'" [array]="typeOfContracts"
                                        (filteredReturn)="typeOfContractsList =$event">
                                    </mat-select-filter>
                                    <mat-option *ngFor="let item of typeOfContractsList" [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="tenderDetails.get('type_of_work')?.errors?.['required']">
                                    Type of Work is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="48%" fxFlex.lg="48%" fxFlex.xl="48%"
                            fxLayout="column">
                            <mat-label>Budget</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Budget" formControlName="budget">
                                <mat-error *ngIf="tenderDetails.get('budget')?.errors?.['required']">
                                    Enter Budget
                                </mat-error>
                            </mat-form-field>
                        </div>


                        <div class="mb-24" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="48%" fxFlex.lg="48%"
                            fxFlex.xl="48%" fxLayout="column" fxLayoutGap="4px">
                            <mat-label>Technical Tender Document</mat-label>
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                                <div fxLayout="row" fxLayoutGap="25%">
                                    <label class="button-upload" for="file" fxLayout="row" fxLayoutAlign="start center"
                                        fxLayoutGap="8px">
                                        <span class="material-icons">cloud_upload</span>
                                        <span class="textLink">Upload File</span>
                                        <input formControlName="file" id="file" type="file"
                                            (change)="onFileChange($event)" hidden>
                                    </label>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <span *ngIf="!file?.name">No file Choosen</span>
                                    <span>{{file?.name}}</span>
                                    <button *ngIf="file?.name" type="button" mat-icon-button class="icon-approve"
                                        matTooltip="Remove Document" matTooltipPosition="right"
                                        (click)="removeSelectedFile(file)">
                                        <span class="material-icons">cancel</span>
                                    </button>
                                </div>
                            </div>
                            <div
                                *ngIf="isFileUploaded && tenderDetails.get('file')?.invalid && (tenderDetails.get('file')?.dirty || tenderDetails.get('file')?.touched)">
                                <div *ngIf="tenderDetails.get('file')?.errors?.['required']">
                                    File Required
                                </div>
                            </div>
                        </div>

                        <div class="table mb-24" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="100%"
                            fxFlex.xl="100%" fxLayout="column" fxLayoutGap="8px">

                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                                <mat-label>Financial Tender Document</mat-label>
                                <div fxLayout="row" fxLayoutGap="25%">
                                    <label class="button-upload" fxLayout="row" fxLayoutAlign="start center"
                                        fxLayoutGap="8px">
                                        <span class="material-icons">cloud_download</span>
                                        <span class="textLink">Import CSV</span>
                                        <input id="file" type="file" hidden>
                                    </label>
                                </div>
                            </div>
                            <mat-table #table [dataSource]="dataSource" formGroupName="ftdTableRows">
                                <ng-container matColumnDef="position">
                                    <mat-header-cell *matHeaderCellDef> Sr. No. </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <mat-form-field floatLabel="never" appearance="outline">
                                            <input matInput placeholder="Sr. No." formControlName="position">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="item_description">
                                    <mat-header-cell *matHeaderCellDef> Item Description </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <mat-form-field floatLabel="never" appearance="outline">
                                            <input matInput placeholder="Item Description"
                                                formControlName="item_description">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="unit">
                                    <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <mat-form-field floatLabel="never" appearance="outline">
                                            <input matInput placeholder="Unit" formControlName="unit">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="quantity">
                                    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <mat-form-field floatLabel="never" appearance="outline">
                                            <input matInput placeholder="Quantity" formControlName="quantity">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </div>
                    </div>
                    <div class="action-btn" fxLayout="row" fxLayoutAlign="center center">
                        <button mat-button>Submit</button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>