@font-face {
    font-family: 'Saira';
    src: url(/assets/font/Saira/Saira-VariableFont_wdth,wght.ttf) format("truetype");
}

.services-page {
    width: 100%;
    min-height: 100%;
    background-color: white;
}

.services-body {
    padding: 24px 40px 40px 40px;
}

.services-page h5 {
    font-family: "Saira", sans-serif;
    font-size: 20px !important;
    font-weight: 480;
    text-align: justify;
    line-height: 28px;
}

.text-center {
    text-align: center;
}

.w-40 {
    width: 40px;
}

.w-1000 {
    width: 1000px;
}

h1 {
    font-family: "Saira", sans-serif;
    color: #841618;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: 3px solid #841618;
    line-height: 40px;
    text-align: center;
}

h3 {
    font-family: "Saira", sans-serif;
    color: #841618;
    font-weight: 900;
    text-align: center;
}

td,
th {
    font-family: "Saira", sans-serif;
    padding: 10px;
    font-size: 16px;
}

th {
    color: #841618;
    font-size: 16px;
    font-weight: 500;
}

.font-460 {
    font-weight: 460 !important;
}

.font-600 {
    font-weight: 600 !important;
}

table,
th,
td {
    border: 1px solid #841618;
    border-collapse: collapse;
}