<div class="services-page">
    <div class="services-page-outline">
        <div class="services-body">
            <h1>Services</h1>
            <div class="services-row">
                <mat-card class="services-matcard">
                    <div class="matcard-column">
                        <img src="assets/images/servicebg1.png">
                        <h3>Appointment of Trade Contractors Through Online Portal</h3>
                    </div>
                </mat-card>
                <mat-card class="services-matcard">
                    <div class="matcard-column">
                        <img src="assets/images/servicebg2.png">
                        <h3>Selection & Purchase of Construction Equipments and Tools</h3>
                    </div>
                </mat-card>
                <mat-card class="services-matcard">
                    <div class="matcard-column">
                        <img src="assets/images/servicebg3.png">
                        <h3>Selection of Suppliers and Purchase of Materials Through Online Portal</h3>
                    </div>
                </mat-card>
                <mat-card class="services-matcard">
                    <div class="matcard-column">
                        <img src="assets/images/servicebg4.png">
                        <h3>Selection & Acquiring Construction Equipments Through Rental Agreements</h3>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="services-footer-bg">
            <div class="services-footer">
                <div class="footer-row">
                    <div class="footer-column">
                        <h1>100+</h1>
                        <h3>Finished Projects</h3>
                    </div>
                    <div class="footer-column">
                        <h1>100+</h1>
                        <h3>Expert Developers</h3>
                    </div>
                    <div class="footer-column">
                        <h1>250+</h1>
                        <h3>Expert Contractors</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>