<div class="services-page" fxLayout="column">
  <div class="services-body" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
    <h1>{{ constVariable.services }}</h1>
    <!-- <h5>{{constVariable.servicesMsg1}}</h5>
        <h5>{{constVariable.servicesMsg2}}</h5>
        <table>
            <thead>
                <tr>
                    <ng-container *ngFor="let item of tableHeaderData">
                        <th [style]="item.width" [rowSpan]="item.rowspan" [colSpan]="item.colspan">
                            {{item.name}}
                        </th>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container *ngFor="let item of tableHeaderData2">
                        <th [style]="item.width">{{item.name}}</th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr class="font-460" *ngFor="let item of tableData">
                    <td class="w-40 text-center">
                        {{item.position}}
                    </td>
                    <td class="w-1000">
                        {{item.task}}
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.gummadi" class="fa-solid fa-check"></i>
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.client" class="fa-solid fa-check"></i>
                    </td>
                </tr>
                <tr class="font-600" *ngFor="let item of tableData3">
                    <td class="w-40 text-center">
                        {{item.position}}
                    </td>
                    <td class="w-1000">
                        {{item.task}}
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.gummadi" class="fa-solid fa-check"></i>
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.client" class="fa-solid fa-check"></i>
                    </td>
                </tr>
                <tr class="font-460" *ngFor="let item of tableData3_1">
                    <td class="w-40 text-center">
                        {{item.position}}
                    </td>
                    <td class="w-1000">
                        {{item.task}}
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.gummadi" class="fa-solid fa-check"></i>
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.client" class="fa-solid fa-check"></i>
                    </td>
                </tr>
                <tr class="font-600" *ngFor="let item of tableData4">
                    <td class="w-40 text-center">
                        {{item.position}}
                    </td>
                    <td class="w-1000">
                        {{item.task}}
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.gummadi" class="fa-solid fa-check"></i>
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.client" class="fa-solid fa-check"></i>
                    </td>
                </tr>
                <tr class="font-460" *ngFor="let item of tableData4_1">
                    <td class="w-40 text-center">
                        {{item.position}}
                    </td>
                    <td class="w-1000">
                        {{item.task}}
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.gummadi" class="fa-solid fa-check"></i>
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.client" class="fa-solid fa-check"></i>
                    </td>
                </tr>
                <tr class="font-600" *ngFor="let item of tableData5">
                    <td class="w-40 text-center">
                        {{item.position}}
                    </td>
                    <td class="w-1000">
                        {{item.task}}
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.gummadi" class="fa-solid fa-check"></i>
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.client" class="fa-solid fa-check"></i>
                    </td>
                </tr>
                <tr class="font-460" *ngFor="let item of tableData5_1">
                    <td class="w-40 text-center">
                        {{item.position}}
                    </td>
                    <td class="w-1000">
                        {{item.task}}
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.gummadi" class="fa-solid fa-check"></i>
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.client" class="fa-solid fa-check"></i>
                    </td>
                </tr>
                <tr class="font-600" *ngFor="let item of tableData6">
                    <td class="w-40 text-center">
                        {{item.position}}
                    </td>
                    <td class="w-1000">
                        {{item.task}}
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.gummadi" class="fa-solid fa-check"></i>
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.client" class="fa-solid fa-check"></i>
                    </td>
                </tr>
                <tr class="font-460" *ngFor="let item of tableData6_1">
                    <td class="w-40 text-center">
                        {{item.position}}
                    </td>
                    <td class="w-1000">
                        {{item.task}}
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.gummadi" class="fa-solid fa-check"></i>
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.client" class="fa-solid fa-check"></i>
                    </td>
                </tr>
                <tr class="font-600" *ngFor="let item of tableData7">
                    <td class="w-40 text-center">
                        {{item.position}}
                    </td>
                    <td class="w-1000">
                        {{item.task}}
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.gummadi" class="fa-solid fa-check"></i>
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.client" class="fa-solid fa-check"></i>
                    </td>
                </tr>
                <tr class="font-460" *ngFor="let item of tableData7_1">
                    <td class="w-40 text-center">
                        {{item.position}}
                    </td>
                    <td class="w-1000">
                        {{item.task}}
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.gummadi" class="fa-solid fa-check"></i>
                    </td>
                    <td class="w-40 text-center">
                        <i *ngIf="item.client" class="fa-solid fa-check"></i>
                    </td>
                </tr>
            </tbody>
        </table> -->
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.earthWorkCutting }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.earthWorkCuttingDescription1 }}</p>
          <p>{{ constVariable.earthWorkCuttingDescription2 }}</p>
          <p class="text-bold">{{ constVariable.earthWorkCuttingSubHeading1 }}</p>
          <p>{{ constVariable.earthWorkCuttingSubHeading1Description }}</p>
          <ul>
            <li>{{ constVariable.earthWorkCuttingSubHeading1List1 }}</li>
            <li>{{ constVariable.earthWorkCuttingSubHeading1List2 }}</li>
            <li>{{ constVariable.earthWorkCuttingSubHeading1List3 }}</li>
            <li>{{ constVariable.earthWorkCuttingSubHeading1List4 }}</li>
          </ul>
          <p class="text-bold">{{ constVariable.earthWorkCuttingSubHeading2 }}</p>
          <p>{{ constVariable.earthWorkCuttingSubHeading2Description }}</p>
          <p class="text-bold">{{ constVariable.earthWorkCuttingSubHeading3 }}</p>
          <p>{{ constVariable.earthWorkCuttingSubHeading3Description1 }}</p>
          <p>{{ constVariable.earthWorkCuttingSubHeading3Description2 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.projectDesign }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.projectDesignDescription }}</p>
          <p class="text-bold">{{ constVariable.projectDesignSubHeading1 }}</p>
          <p>{{ constVariable.projectDesignSubHeading1Description }}</p>
          <ol>
            <li>{{ constVariable.projectDesignSubHeading1List1 }}</li>
            <li>{{ constVariable.projectDesignSubHeading1List2 }}</li>
            <li>{{ constVariable.projectDesignSubHeading1List3 }}</li>
            <li>{{ constVariable.projectDesignSubHeading1List4 }}</li>
            <li>{{ constVariable.projectDesignSubHeading1List5 }}</li>
            <li>{{ constVariable.projectDesignSubHeading1List6 }}</li>
            <li>{{ constVariable.projectDesignSubHeading1List7 }}</li>
            <li>{{ constVariable.projectDesignSubHeading1List8 }}</li>
            <li>{{ constVariable.projectDesignSubHeading1List9 }}</li>
            <li>{{ constVariable.projectDesignSubHeading1List10 }}</li>
            <li>{{ constVariable.projectDesignSubHeading1List11 }}</li>
          </ol>
          <p class="text-bold">{{ constVariable.projectDesignSubHeading2 }}</p>
          <p>{{ constVariable.projectDesignSubHeading2Description }}</p>
          <ul>
            <li>{{ constVariable.projectDesignSubHeading2Lis1 }}</li>
            <li>{{ constVariable.projectDesignSubHeading2Lis2 }}</li>
            <li>{{ constVariable.projectDesignSubHeading2Lis3 }}</li>
            <li>{{ constVariable.projectDesignSubHeading2Lis4 }}</li>
          </ul>
          <p class="text-bold">{{ constVariable.projectDesignSubHeading3 }}</p>
          <p>{{ constVariable.projectDesignSubHeading3Description }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.landSurveying }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.landSurveyingDescription }}</p>
          <p class="text-bold">{{ constVariable.landSurveyingSubHeading1 }}</p>
          <p>{{ constVariable.landSurveyingSubHeading1Description }}</p>
          <p class="text-bold">{{ constVariable.landSurveyingSubHeading2 }}</p>
          <p>{{ constVariable.landSurveyingSubHeading2Description }}</p>
          <ul>
            <li class="text-bold">{{ constVariable.landSurveyingSubHeading2List1 }}</li>
            <p>{{ constVariable.landSurveyingSubHeading2List1Description }}</p>
            <li class="text-bold">{{ constVariable.landSurveyingSubHeading2List2 }}</li>
            <p>{{ constVariable.landSurveyingSubHeading2List2Description }}</p>
            <li class="text-bold">{{ constVariable.landSurveyingSubHeading2List3 }}</li>
            <p>{{ constVariable.landSurveyingSubHeading2List3Description }}</p>
            <li class="text-bold">{{ constVariable.landSurveyingSubHeading2List4 }}</li>
            <p>{{ constVariable.landSurveyingSubHeading2List4Description }}</p>
          </ul>
          <p class="text-bold">{{ constVariable.landSurveyingSubHeading3 }}</p>
          <p>{{ constVariable.landSurveyingSubHeading3Description1 }}</p>
          <p>{{ constVariable.landSurveyingSubHeading3Description2 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.geoTechnical }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.geoTechnicalDescription }}</p>
          <p class="text-bold">{{ constVariable.geoTechnicalSubHeading1 }}</p>
          <p>{{ constVariable.geoTechnicalSubHeading1Description }}</p>
          <p class="text-bold">{{ constVariable.geoTechnicalSubHeading2 }}</p>
          <p>{{ constVariable.geoTechnicalSubHeading2Description }}</p>
          <ul *ngFor="let item of constVariable.geoTechnicalSubHeading2List">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.geoTechnicalSubHeading3 }}</p>
          <p>{{ constVariable.geoTechnicalSubHeading3Description1 }}</p>
          <p>{{ constVariable.geoTechnicalSubHeading3Description2 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.buildingStrengthening }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.buildingStrengtheningDescription }}</p>
          <p class="text-bold">{{ constVariable.buildingStrengtheningSubHeading1 }}</p>
          <p>{{ constVariable.buildingStrengtheningSubHeading1Description }}</p>
          <ul *ngFor="let item of constVariable.buildingStrengtheningSubHeading1List">
            <li>
              <span class="text-bold">{{ item.name }} </span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.buildingStrengtheningSubHeading2 }}</p>
          <p>{{ constVariable.buildingStrengtheningSubHeading2Description1 }}</p>
          <p>{{ constVariable.buildingStrengtheningSubHeading2Description2 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.qualityTesting }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.qualityTestingDescription }}</p>
          <p class="text-bold">{{ constVariable.qualityTestingSubHeading }}</p>
          <p>{{ constVariable.qualityTestingSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.qualityTestingSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p>{{ constVariable.qualityTestingDescription2 }}</p>
          <p>{{ constVariable.qualityTestingDescription3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.nonDestructiveTesting }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.nonDestructiveTestingDescription }}</p>
          <p class="text-bold">{{ constVariable.nonDestructiveTestingSubHeading }}</p>
          <p>{{ constVariable.nonDestructiveTestingSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.nonDestructiveTestingSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span
              >{{ item.description }}
            </li>
          </ul>
          <p>{{ constVariable.nonDestructiveTestingDescription2 }}</p>
          <p>{{ constVariable.nonDestructiveTestingDescription3 }}</p>
          <p>{{ constVariable.nonDestructiveTestingDescription4 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.pileFoundations }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.pileFoundationsDescription }}</p>
          <p class="text-bold">{{ constVariable.pileFoundationsSubHeading }}</p>
          <p>{{ constVariable.pileFoundationsSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.pileFoundationsSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.pileFoundationsSubHeading2 }}</p>
          <p>{{ constVariable.pileFoundationsSubHeading2Description1 }}</p>
          <p>{{ constVariable.pileFoundationsSubHeading2Description2 }}</p>
          <p>{{ constVariable.pileFoundationsSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.dewateringSystems }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.dewateringSystemsDescription }}</p>
          <p class="text-bold">{{ constVariable.dewateringSystemsSubHeading }}</p>
          <p>{{ constVariable.dewateringSystemsSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.dewateringSystemsSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.dewateringSystemsSubHeading2 }}</p>
          <p>{{ constVariable.dewateringSystemsSubHeading2Description1 }}</p>
          <p>{{ constVariable.dewateringSystemsSubHeading2Description2 }}</p>
          <p>{{ constVariable.dewateringSystemsSubHeading2Description3 }}</p>
          <p>{{ constVariable.dewateringSystemsSubHeading2Description4 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.soilStabilisation }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.soilStabilisationDescription }}</p>
          <p class="text-bold">{{ constVariable.soilStabilisationSubHeading }}</p>
          <p>{{ constVariable.soilStabilisationSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.soilStabilisationSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.soilStabilisationSubHeading2 }}</p>
          <p>{{ constVariable.soilStabilisationSubHeading2Description1 }}</p>
          <p>{{ constVariable.soilStabilisationSubHeading2Description2 }}</p>
          <p>{{ constVariable.soilStabilisationSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.shoringSlope }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.shoringSlopeDescription }}</p>
          <p class="text-bold">{{ constVariable.shoringSlopeSubHeading }}</p>
          <p>{{ constVariable.shoringSlopeSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.shoringSlopeSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.shoringSlopeSubHeading2 }}</p>
          <p>{{ constVariable.shoringSlopeSubHeading2Description1 }}</p>
          <p>{{ constVariable.shoringSlopeSubHeading2Description2 }}</p>
          <p>{{ constVariable.shoringSlopeSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.roadsBridges }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.roadsBridgesDescription }}</p>
          <p class="text-bold">{{ constVariable.roadsBridgesSubHeading }}</p>
          <p>{{ constVariable.roadsBridgesSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.roadsBridgesSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.roadsBridgesSubHeading2 }}</p>
          <p>{{ constVariable.roadsBridgesSubHeading2Description1 }}</p>
          <p>{{ constVariable.roadsBridgesSubHeading2Description2 }}</p>
          <p>{{ constVariable.roadsBridgesSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.gabianWalls }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.gabianWallsDescription }}</p>
          <p class="text-bold">{{ constVariable.gabianWallsSubHeading }}</p>
          <p>{{ constVariable.gabianWallsSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.gabianWallsSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.gabianWallsSubHeading2 }}</p>
          <p>{{ constVariable.gabianWallsSubHeading2Description1 }}</p>
          <p>{{ constVariable.gabianWallsSubHeading2Description2 }}</p>
          <p>{{ constVariable.gabianWallsSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.projectAudits }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.projectAuditsDescription }}</p>
          <p class="text-bold">{{ constVariable.projectAuditsSubHeading }}</p>
          <p>{{ constVariable.projectAuditsSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.projectAuditsSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.projectAuditsSubHeading2 }}</p>
          <p>{{ constVariable.projectAuditsSubHeading2Description1 }}</p>
          <p>{{ constVariable.projectAuditsSubHeading2Description2 }}</p>
          <p>{{ constVariable.projectAuditsSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.civilStructure }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.civilStructureDescription }}</p>
          <p class="text-bold">{{ constVariable.civilStructureSubHeading }}</p>
          <p>{{ constVariable.civilStructureSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.civilStructureSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.civilStructureSubHeading2 }}</p>
          <p>{{ constVariable.civilStructureSubHeading2Description1 }}</p>
          <p>{{ constVariable.civilStructureSubHeading2Description2 }}</p>
          <p>{{ constVariable.civilStructureSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.structuralSteel }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.structuralSteelDescription }}</p>
          <p class="text-bold">{{ constVariable.structuralSteelSubHeading }}</p>
          <p>{{ constVariable.structuralSteelSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.structuralSteelSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.structuralSteelSubHeading2 }}</p>
          <p>{{ constVariable.structuralSteelSubHeading2Description1 }}</p>
          <p>{{ constVariable.structuralSteelSubHeading2Description2 }}</p>
          <p>{{ constVariable.structuralSteelSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.stainlessSteel }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.stainlessSteelDescription }}</p>
          <p class="text-bold">{{ constVariable.stainlessSteelSubHeading }}</p>
          <p>{{ constVariable.stainlessSteelSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.stainlessSteelSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.stainlessSteelSubHeading2 }}</p>
          <p>{{ constVariable.stainlessSteelSubHeading2Description1 }}</p>
          <p>{{ constVariable.stainlessSteelSubHeading2Description2 }}</p>
          <p>{{ constVariable.stainlessSteelSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.structuralPost }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.structuralPostDescription }}</p>
          <p class="text-bold">{{ constVariable.structuralPostSubHeading }}</p>
          <p>{{ constVariable.structuralPostSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.structuralPostSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.structuralPostSubHeading2 }}</p>
          <p>{{ constVariable.structuralPostSubHeading2Description1 }}</p>
          <p>{{ constVariable.structuralPostSubHeading2Description2 }}</p>
          <p>{{ constVariable.structuralPostSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.finishingWorks }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.finishingWorksDescription }}</p>
          <p class="text-bold">{{ constVariable.finishingWorksSubHeading }}</p>
          <p>{{ constVariable.finishingWorksSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.finishingWorksSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.finishingWorksSubHeading2 }}</p>
          <p>{{ constVariable.finishingWorksSubHeading2Description1 }}</p>
          <p>{{ constVariable.finishingWorksSubHeading2Description2 }}</p>
          <p>{{ constVariable.finishingWorksSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.interiorFitout }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.interiorFitoutDescription }}</p>
          <p class="text-bold">{{ constVariable.interiorFitoutSubHeading }}</p>
          <p>{{ constVariable.interiorFitoutSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.interiorFitoutSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.interiorFitoutSubHeading2 }}</p>
          <p>{{ constVariable.interiorFitoutSubHeading2Description1 }}</p>
          <p>{{ constVariable.interiorFitoutSubHeading2Description2 }}</p>
          <p>{{ constVariable.interiorFitoutSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.externalLandDev }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.externalLandDevDescription }}</p>
          <p class="text-bold">{{ constVariable.externalLandDevSubHeading }}</p>
          <p>{{ constVariable.externalLandDevSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.externalLandDevSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.externalLandDevSubHeading2 }}</p>
          <p>{{ constVariable.externalLandDevSubHeading2Description1 }}</p>
          <p>{{ constVariable.externalLandDevSubHeading2Description2 }}</p>
          <p>{{ constVariable.externalLandDevSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.elevationFacade }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.elevationFacadeDescription }}</p>
          <p class="text-bold">{{ constVariable.elevationFacadeSubHeading }}</p>
          <p>{{ constVariable.elevationFacadeSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.elevationFacadeSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.elevationFacadeSubHeading2 }}</p>
          <p>{{ constVariable.elevationFacadeSubHeading2Description1 }}</p>
          <p>{{ constVariable.elevationFacadeSubHeading2Description2 }}</p>
          <p>{{ constVariable.elevationFacadeSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.waterProofing }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.waterProofingDescription }}</p>
          <p class="text-bold">{{ constVariable.waterProofingSubHeading }}</p>
          <p>{{ constVariable.waterProofingSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.waterProofingSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.waterProofingSubHeading2 }}</p>
          <p>{{ constVariable.waterProofingSubHeading2Description1 }}</p>
          <p>{{ constVariable.waterProofingSubHeading2Description2 }}</p>
          <p>{{ constVariable.waterProofingSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.electrificationInternal }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.electrificationInternalDescription }}</p>
          <p class="text-bold">{{ constVariable.electrificationInternalSubHeading }}</p>
          <p>{{ constVariable.electrificationInternalSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.electrificationInternalSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.electrificationInternalSubHeading2 }}</p>
          <p>{{ constVariable.electrificationInternalSubHeading2Description1 }}</p>
          <p>{{ constVariable.electrificationInternalSubHeading2Description2 }}</p>
          <p>{{ constVariable.electrificationInternalSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.electricalWorks }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.electricalWorksDescription }}</p>
          <p class="text-bold">{{ constVariable.electricalWorksSubHeading }}</p>
          <p>{{ constVariable.electricalWorksSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.electricalWorksSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.electricalWorksSubHeading2 }}</p>
          <p>{{ constVariable.electricalWorksSubHeading2Description1 }}</p>
          <p>{{ constVariable.electricalWorksSubHeading2Description2 }}</p>
          <p>{{ constVariable.electricalWorksSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.electricalSub }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.electricalSubDescription }}</p>
          <p class="text-bold">{{ constVariable.electricalSubSubHeading }}</p>
          <p>{{ constVariable.electricalSubSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.electricalSubSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.electricalSubSubHeading2 }}</p>
          <p>{{ constVariable.electricalSubSubHeading2Description1 }}</p>
          <p>{{ constVariable.electricalSubSubHeading2Description2 }}</p>
          <p>{{ constVariable.electricalSubSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.solorPower }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.solorPowerDescription }}</p>
          <p class="text-bold">{{ constVariable.solorPowerSubHeading }}</p>
          <p>{{ constVariable.solorPowerSubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.solorPowerSubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.solorPowerSubHeading2 }}</p>
          <p>{{ constVariable.solorPowerSubHeading2Description1 }}</p>
          <p>{{ constVariable.solorPowerSubHeading2Description2 }}</p>
          <p>{{ constVariable.solorPowerSubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{ constVariable.plumbingSanitory }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>{{ constVariable.plumbingSanitoryDescription }}</p>
          <p class="text-bold">{{ constVariable.plumbingSanitorySubHeading }}</p>
          <p>{{ constVariable.plumbingSanitorySubHeadingDescription }}</p>
          <ul *ngFor="let item of constVariable.plumbingSanitorySubHeadingList">
            <li>
              <span class="text-bold">{{ item.name }}</span> {{ item.description }}
            </li>
          </ul>
          <p class="text-bold">{{ constVariable.plumbingSanitorySubHeading2 }}</p>
          <p>{{ constVariable.plumbingSanitorySubHeading2Description1 }}</p>
          <p>{{ constVariable.plumbingSanitorySubHeading2Description2 }}</p>
          <p>{{ constVariable.plumbingSanitorySubHeading2Description3 }}</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<app-footer></app-footer>
