@font-face {
    font-family: 'Saira';
    src: url(/assets/font/Saira/Saira-VariableFont_wdth,wght.ttf) format("truetype");
}

.services-page {
    width: 100%;
    min-height: 100%;
    background-color: white;
}

.services-body {
    padding: 24px 40px 40px 40px;
}

.services-page h5 {
    font-family: "Saira", sans-serif;
    font-size: 20px !important;
    font-weight: 480;
    text-align: justify;
    line-height: 28px;
}

.text-center {
    text-align: center;
}

.w-40 {
    width: 40px;
}

.w-1000 {
    width: 1000px;
}

h1 {
    font-family: "Saira", sans-serif;
    color: #841618;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: 3px solid #841618;
    line-height: 40px;
    text-align: center;
}

h3 {
    font-family: "Saira", sans-serif;
    color: #841618;
    font-weight: 900;
    text-align: center;
}

td,
th {
    font-family: "Saira", sans-serif;
    padding: 10px;
    font-size: 16px;
}

th {
    color: #841618;
    font-size: 16px;
    font-weight: 500;
}

.font-460 {
    font-weight: 460 !important;
}

.font-600 {
    font-weight: 600 !important;
}

table,
th,
td {
    border: 1px solid #841618;
    border-collapse: collapse;
}


//accordion or Expansion Panel
.example-headers-align {
    width: 90% !important;
}

@media (max-width:928px) {
    .example-headers-align {
        width: 100% !important;
    }
}

.example-headers-align p {
    text-align: justify
}

.text-bold {
    font-weight: bold;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.mat-expansion-panel-header-title {
    color: #841618;
    font-weight: 500;
}

::ng-deep .mat-expansion-panel {
    border: rgb(211, 211, 211) 1px solid !important;
}

mat-expansion-panel {
    mat-expansion-panel-header {
      height: auto!important; 
      padding-top: 12px !important;
      padding-bottom: 12px !important;
    }
}