<div class="services-page" fxLayout="column">
    <div class="services-body" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
        <h1>Services</h1>
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="40px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%">
                <mat-card>
                    <img mat-card-image src="assets/images/servicebg1.png">
                    <mat-card-content fxLayoutAlign="center center">
                        <h3>Appointment of Trade Contractors Through Online Portal</h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%">
                <mat-card>
                    <img mat-card-image src="assets/images/servicebg2.png">
                    <mat-card-content fxLayoutAlign="center center">
                        <h3>Selection & Purchase of Construction Equipments and Tools</h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%">
                <mat-card>
                    <img mat-card-image src="assets/images/servicebg1.png">
                    <mat-card-content fxLayoutAlign="center center">
                        <h3>Selection of Suppliers and Purchase of Materials Through Online Portal</h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="40%">
                <mat-card>
                    <img mat-card-image src="assets/images/servicebg4.png">
                    <mat-card-content fxLayoutAlign="center center">
                        <h3>Selection & Acquiring Construction Equipments Through Rental Agreements</h3>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="services-footer-bg">
        <div class="services-footer" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <div fxLayout="column" fxLayoutAlign="center center">
                <h1>100+</h1>
                <h3>Finished Projects</h3>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <h1>100+</h1>
                <h3>Expert Developers</h3>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <h1>250+</h1>
                <h3>Expert Contractors</h3>
            </div>
        </div>
    </div>

</div>