table {
    width: 100%;
}

td,
th {
    width: 25%;
}

.column-select {
    width: 10%;
}

.action-buttons {
    margin-bottom: 12px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 12px !important;
}

::ng-deep .search-filter {
    width: 100% !important;
}

::ng-deep .button-small {
    line-height: 30px !important;
    padding-left: 0 8px 0 8px !important;
}