.pending-approvals {
    padding: 24px;
}

.example-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

mat-paginator {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.column-select {
    width: 10%;
}

.action-buttons {
    margin-bottom: 12px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 12px !important;
}

::ng-deep .search-filter {
    width: 100% !important;
}

::ng-deep .button-small {
    line-height: 30px !important;
    padding-left: 0 8px 0 8px !important;
}

::ng-deep .button-approve {
    color: #841618;
    background-color: white;
}

.button-reject {
    background-color: #841618;
    color: white;
}

.icon-approve {
    color: #841618;
}

.icon-reject {
    color: #841618;
}

.icon-filter:hover {
    color: #841618;
}

::ng-deep .mat-tooltip {
    background-color: #841618 !important;
}

.mat-row:nth-child(2n+1) {
    background-color: #e4f0ec;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #841618 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #841618;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #841618;
}

.button-clear {
    padding-right: 12px;
}

.example-container {
    width: 100%;
    overflow: auto;
}

.mat-table {
    overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.mat-row,
.mat-header-row {
    display: table-row;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}