<div class="projects-page">
    <div class="projects-body" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
        <h1>Projects</h1>
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="36px grid">
            <div fxFlex="27%" fxFlex.xs="100%" fxFlex.sm="40%">
                <mat-card>
                    <img mat-card-image src="assets/images/projectsbg1.png">
                    <mat-card-content fxLayoutAlign="center center">
                        <h3>Real Estate Projects <br>(Residential & Commercial)</h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="27%" fxFlex.xs="100%" fxFlex.sm="40%">
                <mat-card>
                    <img mat-card-image src="assets/images/projectsbg2.png">
                    <mat-card-content fxLayoutAlign="center center">
                        <h3>Industrial & Infrastructure Projects</h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="27%" fxFlex.xs="100%" fxFlex.sm="40%">
                <mat-card>
                    <img mat-card-image src="assets/images/projectsbg3.png">
                    <mat-card-content fxLayoutAlign="center center">
                        <h3>Healthcare Sector</h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="27%" fxFlex.xs="100%" fxFlex.sm="40%">
                <mat-card>
                    <img mat-card-image src="assets/images/projectsbg4.png">
                    <mat-card-content fxLayoutAlign="center center">
                        <h3>Hospitality Sector Projects</h3>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="27%" fxFlex.xs="100%" fxFlex.sm="40%">
                <mat-card>
                    <img mat-card-image src="assets/images/projectsbg5.png">
                    <mat-card-content fxLayoutAlign="center center">
                        <h3>Home & Commercial Interiors</h3>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>