.audit-approvals {
    padding: 24px;
}

.text-maroon {
    color: #841618;
}

.example-container {
    width: 100%;
    overflow: auto;
}


//ag-grid cell text wrap in words
::ng-deep .ag-cell-wrap-text {
    word-break: break-word !important;
}

::ng-deep .ag-theme-alpine {
    --ag-odd-row-background-color: #f0f0f0 !important;
}

::ng-deep.ag-theme-alpine .ag-row-odd {
    background-color: var(--ag-odd-row-background-color) !important;
}