@font-face {
    font-family: 'Saira';
    src: url(/assets/font/Saira/Saira-VariableFont_wdth,wght.ttf) format("truetype");
}

.contactus-page {
    width: 100%;
    min-height: 100%;
    background-color: white !important;
}

.large-footer {
    background-color: #841618;
    color: white;
    padding: 24px;
    width: 100%;
}

.large-footer h5 {
    font-size: 14px;
}

.large-footer a {
    text-decoration: none;
    color: white;
}

.large-footer a:hover {
    color: rgb(106, 161, 245);
}

.small-footer {
    background-color: #545554;
    color: white;
}

.contactus-body {
    padding: 24px;
    width: 100%;
}

.title h1 {
    padding: 48px 24px 0px 24px;
    color: #841618;
    font-size: 36px;
    font-weight: 500 !important;
}

.line-height {
    line-height: 1.6;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.8em 0px 0.8em 0px !important;
    font-size: 12px !important;
}

.contactus-form {
    min-width: 40%;
}

.radio-group {
    margin: 0px 0px 20px 0px !important;
}

::ng-deep .contactus-page .color-grey {
    color: #841618 !important;
}

::ng-deep .contactus-page img {
    height: 340px !important;
}

::ng-deep .contactus-page .mat-stroked-button {
    color: white !important;
    background-color: #841618 !important;
}

::ng-deep .contactus-page mat-label {
    color: #841618 !important;
}

::ng-deep .contactus-page mat-card {
    border-radius: 0px !important;
    padding: 24px !important;
}

::ng-deep .contactus-page .p-0 {
    padding: 0px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

::ng-deep .contactus-page .icon-size-20 {
    font-size: 24px !important;
}

.fa-linkedin:hover {
    color: #007bb6;
    cursor: pointer;
}

.fa-facebook:hover {
    color: #3b5998;
    cursor: pointer;
}

.fa-instagram:hover {
    color: #517fa4;
    cursor: pointer;
}

.fa-twitter:hover {
    color: #00aced;
    cursor: pointer;
}

.line {
    padding-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
}