<div class="contactus-page">
    <div class="title" fxLayout="row" fxLayoutAlign="center center">
        <h1>{{constVariable.thankYouForReaching}}</h1>
    </div>
    <div class="contactus-body" fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="12px grid">
        <div fxFlex.xs="100%" fxFlex.sm="80%" fxFlex.md="40%">
            <mat-card class="p-0">
                <img mat-card-image src="assets/images/contact.jpg">
            </mat-card>
        </div>
        <div fxFlex.xs="100%" fxFlex.sm="80%" fxFlex.md="50%" fxFlex.lg="40%" fxFlex.xl="40%">
            <mat-card>
                <div class="color-grey">
                    <h2>{{constVariable.lookForward}}</h2>
                </div>
                <form [formGroup]="contactUsForm" fxLayout="column" fxLayoutGap="4px">
                    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="24px grid">
                        <div fxLayout="column" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%"
                            fxFlex.xl="50%">
                            <div>
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{constVariable.category}}</mat-label>
                                    <mat-select formControlName="applicationRole">
                                        <mat-option *ngFor="let role of applicationRoles" [value]="role.id">
                                            {{role.roleName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="contactUsForm.controls['applicationRole'].errors?.['required']">
                                        {{constVariable.selectCategory}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{constVariable.name}}</mat-label>
                                    <input matInput placeholder="Name" formControlName="userName">
                                    <mat-error *ngIf="contactUsForm.controls['userName'].errors?.['required']">
                                        {{constVariable.nameRequired}}
                                    </mat-error>
                                    <mat-error *ngIf="contactUsForm.controls['userName'].errors?.['minlength']">
                                        {{constVariable.minThreeChar}}
                                    </mat-error>
                                    <mat-error *ngIf="contactUsForm.controls['userName'].errors?.['maxlength']">
                                        {{constVariable.maxFiftyChar}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{constVariable.emailId}}</mat-label>
                                    <input matInput placeholder="Email Id" formControlName="emailAddress">
                                    <mat-error *ngIf="contactUsForm.controls['emailAddress'].errors?.['required']">
                                        {{constVariable.emailRequired}}
                                    </mat-error>
                                    <mat-error *ngIf="contactUsForm.controls['emailAddress'].errors?.['pattern']">
                                        {{constVariable.validEmail}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout="column" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%"
                            fxFlex.xl="50%">
                            <div>
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{constVariable.mobileNumber}}</mat-label>
                                    <input numbersOnly matInput placeholder="Mobile Number" inputmode="tel"
                                        formControlName="mobileNumber">
                                    <mat-error *ngIf="contactUsForm.controls['mobileNumber'].errors?.['required']">
                                        {{constVariable.requireMobilenumber}}
                                    </mat-error>
                                    <mat-error *ngIf="contactUsForm.controls['mobileNumber'].errors?.['pattern']">
                                        {{constVariable.validMobileNumber}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="contactUsForm.controls['mobileNumber'].errors?.['minlength'] || contactUsForm.controls['mobileNumber'].errors?.['maxlength']">
                                        {{constVariable.mobileTendDigits}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>{{constVariable.detailsOfQuery}}</mat-label>
                                    <textarea matInput placeholder="Details of Query"
                                        formControlName="enquiryDescription" cols="20" rows="6"></textarea>
                                    <mat-error
                                        *ngIf="contactUsForm.controls['enquiryDescription'].errors?.['required']">
                                        {{constVariable.detailsRequired}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="contactUsForm.controls['enquiryDescription'].errors?.['maxlength']">
                                        {{constVariable.max250Char}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxLayoutAlign="end center">
                        <button class="submit-button" mat-stroked-button type="submit" (click)="onSubmit()">
                            {{constVariable.getInTouchh}}
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
    <app-footer></app-footer>
</div>