<!-- <button mat-button type="button" (click)="onClick($event)">{{label}}</button> -->
<button mat-raised-button *ngIf="label=='Tender Document'">
    <div fxLayout="row" fxLayoutAlign="center center">
        <h5 class="text-maroon bold-500">{{label}}</h5>
        <mat-icon class="ag-cell-icon">file_download</mat-icon>
    </div>
</button>
<button mat-raised-button *ngIf="label=='Edit'">
    <div fxLayout="row" fxLayoutAlign="center center">
        <h5 class="text-maroon bold-500">{{label}}</h5>
        <mat-icon class="ag-cell-icon">edit</mat-icon>
    </div>
</button>