<div class="tender-form">
    <div class="breadcrumbs" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="12px grid">
        <div fxLayoutAlign="center center">
            <xng-breadcrumb [separator]="separatorTemplate">
                <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info;">
                    <div><i *ngIf="info" class="icon-breadcrumb {{info}}"></i></div>
                    <ng-container>{{ breadcrumb }}</ng-container>
                </ng-container>
            </xng-breadcrumb>
        </div>
        <ng-template #separatorTemplate>
            <i class="fa-solid fa-caret-right"></i>
        </ng-template>
        <div fxLayoutAlign="center center">
            <div class="warn" *ngIf="warningMessage" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                <div>
                    <i class="icon-warning fa-solid fa-triangle-exclamation"></i>
                </div>
                <div>
                    <span>{{warningMessage}}</span>
                </div>
            </div>
        </div>
        <div fxLayoutAlign="center center">
            <div class="status" *ngIf="this.tenderDetails.get('workflowStep')?.value">
                <span>Workflow Step : </span>
                <span class="text-bold">{{this.tenderDetails.get('workflowStep')?.value}}</span>
            </div>
        </div>
    </div>
    <mat-card>
        <form [formGroup]="tenderDetails" autocomplete="off">
            <div fxLayout="column">
                <div class="actions-panel" fxLayout="row" fxLayoutAlign="space-between center">
                    <h3>Tender Details: <span>{{tenderId?tenderId : ''}}</span></h3>
                    <app-action-dropdown *ngIf="tenderDataLoaded" [tenderData]="selectedTender$ | async"
                        [tenderDetails]="tenderDetails"></app-action-dropdown>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="12px grid">
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>{{constantVariable.projectName}} *</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Project Name" formControlName="projectName">
                            <mat-error *ngIf="tenderDetails.get('projectName')?.errors?.['required']">
                                {{constantVariable.enterKeyWord}}{{constantVariable.projectName}}
                            </mat-error>
                            <mat-error *ngIf="tenderDetails.get('projectName')?.errors?.['maxlength']">
                                {{constantVariable.maxLengthFifty}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>{{constantVariable.nameOfWorkPackage}} *</mat-label>
                        <mat-form-field appearance="outline">
                            <textarea matInput placeholder="Description of Work"
                                formControlName="workDescription"></textarea>
                            <mat-error *ngIf="tenderDetails.get('workDescription')?.errors?.['required']">
                                {{constantVariable.enterKeyWord}}{{constantVariable.nameOfWorkPackage}}
                            </mat-error>
                            <mat-error *ngIf="tenderDetails.get('workDescription')?.errors?.['maxlength']">
                                {{constantVariable.maxLengthFifty}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>{{constantVariable.typeOfWork}} *</mat-label>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Type of Work" formControlName="typeOfWork">
                                <mat-select-filter [placeholder]="'Search'" [displayMember]="'establishmentDescription'"
                                    [array]="typeOfWorks" (filteredReturn)="typeOfWorksList =$event">
                                </mat-select-filter>
                                <mat-option *ngFor="let item of typeOfWorksList"
                                    [value]="item.establishmentDescription">
                                    {{item.establishmentDescription}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="tenderDetails.get('typeOfWork')?.errors?.['required']">
                                {{constantVariable.selectKeyWord}}{{constantVariable.typeOfWork}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>{{constantVariable.typeOfContract}} *</mat-label>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Type of Contract" formControlName="typeOfContract">
                                <mat-select-filter [placeholder]="'Search'" [displayMember]="'typeOfContract'"
                                    [array]="typeOfContracts" (filteredReturn)="typeOfContractsList =$event">
                                </mat-select-filter>
                                <mat-option *ngFor="let item of typeOfContractsList" [value]="item.id">
                                    {{item.typeOfContract}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="tenderDetails.get('typeOfContract')?.errors?.['required']">
                                {{constantVariable.selectKeyWord}}{{constantVariable.typeOfContract}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>{{constantVariable.projectLocation}} *</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Project Location" formControlName="projectLocation">
                            <mat-error *ngIf="tenderDetails.get('projectLocation')?.errors?.['required']">
                                {{constantVariable.enterKeyWord}}{{constantVariable.projectLocation}}
                            </mat-error>
                            <mat-error *ngIf="tenderDetails.get('projectLocation')?.errors?.['maxlength']">
                                {{constantVariable.maxLengthFifty}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>{{constantVariable.contractDurationMonthsOrDays}} *</mat-label>
                        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
                            <mat-form-field fxFlex="47%" appearance="outline">
                                <input matInput numbersOnly placeholder="Contract Duration"
                                    formControlName="contractDuration">
                                <mat-error *ngIf="tenderDetails.get('contractDuration')?.errors?.['required']">
                                    {{constantVariable.enterKeyWord}}{{constantVariable.contractDuration}}
                                </mat-error>
                                <mat-error *ngIf="tenderDetails.get('contractDuration')?.errors?.['maxlength']">
                                    {{constantVariable.maxDigitsFive}}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="47%" appearance="outline">
                                <mat-select placeholder="Months or Days" formControlName="durationCounter">
                                    <mat-option *ngFor="let item of durationCounterList" [value]="item.id">
                                        {{item.text}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="tenderDetails.get('durationCounter')?.errors?.['required']">
                                    {{constantVariable.chooseKeyWord}}{{constantVariable.duration}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>{{constantVariable.lastDateOfTenderSubmission}} *</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="picker" [min]="todayDate" placeholder="DD/MM/YYYY"
                                [formControlName]="'lastDateOfSubmission'" (click)="picker.open()" appDate>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="tenderDetails.get('lastDateOfSubmission')?.errors?.['required']">
                                {{constantVariable.chooseKeyWord}}{{constantVariable.lastDateOfTenderSubmission}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>{{constantVariable.budget}}</mat-label>
                        <mat-form-field appearance="outline" style="text-align: right">
                            <input matInput type="text" numbersOnly placeholder="Budget"
                                formControlName="estimatedBudget" currencyFormatter>
                            <mat-error *ngIf="tenderDetails.get('estimatedBudget')?.errors?.['maxlength']">
                                {{constantVariable.maxDigitsTwenty}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column" fxLayoutGap="4px" *ngIf="!downloadBtnState">
                        <mat-label>{{constantVariable.technicalBid}} *</mat-label>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="12px">
                            <label class="button-upload" for="file" fxLayout="row" fxLayoutAlign="start center"
                                fxLayoutGap="8px" *ngIf="!userRole?.includes('contractor')">
                                <i class="fa-icons fa-solid fa-file-arrow-up"></i>
                                <span class="textLink">Upload File</span>
                            </label>
                            <label for="file" hidden>
                                <input id="file" type="file" class="form-control" (change)="onFileChange($event)" hidden
                                    [disabled]="btnstate">
                            </label>
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <div>
                                    <span *ngIf="!file?.name && !fileName">No file Choosen</span>
                                    <span *ngIf="fileName">{{fileName}}</span>
                                    <span>{{file?.name}}</span>
                                </div>
                                <div>
                                    <button *ngIf="file?.name" type="button" mat-icon-button class="icon-approve"
                                        matTooltip="Remove Document" matTooltipPosition="right"
                                        (click)="removeSelectedFile(file)">
                                        <i class="icon-20p text-maroon fa-solid fa-circle-xmark"></i>
                                    </button>
                                    <button *ngIf="fileName" type="button" mat-button class="icon-approve"
                                        matTooltip="Download file" matTooltipPosition="right"
                                        (click)="downloadSelectedFile(tenderId)">
                                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                                            <i class="fa-solid fa-file-arrow-down"></i>
                                            <div>Download</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            *ngIf="isFileUploaded && tenderDetails.get('file')?.invalid && (tenderDetails.get('file')?.dirty || tenderDetails.get('file')?.touched)">
                            <div *ngIf="tenderDetails.get('file')?.errors?.['required']">
                                File Required
                            </div>
                        </div>
                    </div>
                    <div class="mb-24" fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column" fxLayoutGap="4px">
                        <mat-label>{{constantVariable.technicalBidContractor}} *</mat-label>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="12px">
                            <label class="button-upload" for="contractorDocument" fxLayout="row"
                                fxLayoutAlign="start center" fxLayoutGap="8px">
                                <i class="fa-icons fa-solid fa-file-arrow-up"></i>
                                <span class="textLink">Upload File</span>
                            </label>
                            <label for="contractorDocument" hidden>
                                <input id="contractorDocument" [disabled]="btnConstate" type="file" class="form-control"
                                    (change)="onFileChangeContractor($event)" hidden>
                            </label>
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <div>
                                    <span *ngIf="!contractorDocument?.name && !contractorFileName">No file
                                        Choosen</span>
                                    <span *ngIf="contractorFileName">{{contractorFileName}}</span>
                                    <span>{{contractorDocument?.name}}</span>
                                </div>
                                <div>
                                    <button *ngIf="contractorDocument?.name" type="button" mat-icon-button
                                        class="icon-approve" matTooltip="Remove Document" matTooltipPosition="right"
                                        (click)="removeSelectedFileContractor(contractorDocument)">
                                        <i class="icon-20p text-maroon fa-solid fa-circle-xmark"></i>
                                    </button>
                                    <button type="button" mat-button class="icon-approve" matTooltip="Download file"
                                        matTooltipPosition="right" (click)="downloadContractorFile(tenderId, 0)">
                                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                                            <i class="fa-solid fa-file-arrow-down"></i>
                                            <div>Download</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-24" fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column" fxLayoutGap="4px">

                    </div>
                    <div class="mb-24" fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column" fxLayoutGap="4px">

                    </div>
                    <div class="table mb-24" fxFlex="100%" fxLayout="column" fxLayoutGap="8px"
                        *ngIf="!downloadBtnState">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                            <mat-label>{{constantVariable.financialBid}} *</mat-label>
                            <div fxLayout="row" fxLayoutGap="25%">
                                <label class="button-upload" fxLayout="row" fxLayoutAlign="start center"
                                    fxLayoutGap="8px" *ngIf="!userRole?.includes('contractor')">
                                    <i class="fa-icons fa-solid fa-file-import"></i>
                                    <span class="textLink">Import File</span>

                                    <input id="fileTender" type="file" (change)="importExcel($event)"
                                        accept=".xlsx,.csv" hidden [disabled]="btnstate">
                                </label>
                            </div>
                            <div fxLayout="row" fxLayoutGap="25%">
                                <button type="button" mat-button class="icon-approve" matTooltip="Download file"
                                    matTooltipPosition="right" (click)="exportExcelFile()">
                                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                                        <i class="fa-solid fa-file-arrow-down"></i>
                                        <div>Download</div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="example-wrapper">
                            <ag-grid-angular class="ag-theme-alpine" [columnDefs]="columnDefs"
                                [defaultColDef]="defaultColDef" [rowData]="rowData" [editType]="editType"
                                (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)"
                                (rowEditingStarted)="onRowEditingStarted($event)"
                                (rowEditingStopped)="onRowEditingStopped($event)"
                                (cellValueChanged)="onCellValueChanged($event)"
                                (rowValueChanged)="onRowValueChanged($event)"
                                (cellEditingStopped)="onCellEditingStopped($event)" [domLayout]="domLayout"
                                [overlayLoadingTemplate]="overlayLoadingTemplate" [stopEditingWhenCellsLoseFocus]=true>
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
                <div class="action-btn" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px">
                    <button *ngIf="userRole?.includes('client')" mat-button style="background-color: grey ;"
                        (click)="onSave()" [disabled]="btnstate">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                            <i class="icon-save fa-solid fa-floppy-disk"></i>
                            <div>{{constantVariable.saveBtn}}</div>
                        </div>
                    </button>
                    <button *ngIf="userRole?.includes('client') && this.tenderId" mat-button (click)="onSubmit()"
                        style="background-color: green ;" [disabled]="btnstate">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                            <i class="icon-submit fa-solid fa-paper-plane"></i>
                            <div>{{constantVariable.submitBtn}}</div>
                        </div>
                    </button>
                    <button *ngIf="userRole?.includes('admin') && this.tenderId" mat-button (click)="onUpdate()"
                        style="background-color: green ;" [disabled]="btnstate">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                            <i class="icon-save fa-solid fa-floppy-disk"></i>
                            <div>{{constantVariable.updateBtn}}</div>
                        </div>
                    </button>
                    <button *ngIf="userRole?.includes('contractor')" mat-button style="background-color: grey ;"
                        (click)="onSaveContractor()" [disabled]="btnConstate">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                            <i class="icon-save fa-solid fa-floppy-disk"></i>
                            <div>{{constantVariable.saveBtn}}</div>
                        </div>
                    </button>
                    <button *ngIf="userRole?.includes('contractor') && this.contractorBidId" mat-button
                        (click)="onSubmitContractor()" style="background-color: green ;" [disabled]="btnConstate">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                            <i class="icon-submit fa-solid fa-paper-plane"></i>
                            <div>{{constantVariable.submitBtn}}</div>
                        </div>
                    </button>
                </div>
            </div>
        </form>
    </mat-card>
</div>