<div class="tender-form">
    <div class="breadcrumbs" *ngIf="router.url != '/tenders/'+tenderId+'/create-pq-form'">
        <xng-breadcrumb [separator]="separatorTemplate">
            <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info;">
                <mat-icon class="icon-breadcrumb" *ngIf="info">{{ info }}</mat-icon>
                <ng-container>{{ breadcrumb }}</ng-container>
            </ng-container>
        </xng-breadcrumb>
    </div>
    <ng-template #separatorTemplate>
        <mat-icon>arrow_right</mat-icon>
    </ng-template>
    <mat-card>
        <form [formGroup]="tenderDetails">
            <div fxLayout="column">
                <div>
                    <h3>Tender Details: <span>{{tenderId?tenderId : ''}}</span></h3>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="12px grid">
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>Type of Work *</mat-label>
                        <mat-form-field appearance="outline">
                            <mat-select [disabled]="readonly" placeholder="Select Type of Work"
                                formControlName="typeOfWork">
                                <mat-select-filter [placeholder]="'Search'" [displayMember]="'establishmentDescription'"
                                    [array]="typeOfWorks" (filteredReturn)="typeOfWorksList =$event">
                                </mat-select-filter>
                                <mat-option *ngFor="let item of typeOfWorksList"
                                    [value]="item.establishmentDescription">
                                    {{item.establishmentDescription}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="tenderDetails.get('typeOfWork')?.errors?.['required']">
                                Type of Work is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>Type of Contract *</mat-label>
                        <mat-form-field appearance="outline">
                            <mat-select [disabled]="readonly" placeholder="Select Type of Contract"
                                formControlName="typeOfContract">
                                <mat-select-filter [placeholder]="'Search'" [displayMember]="'typeOfContract'"
                                    [array]="typeOfContracts" (filteredReturn)="typeOfContractsList =$event">
                                </mat-select-filter>
                                <mat-option *ngFor="let item of typeOfContractsList" [value]="item.id">
                                    {{item.typeOfContract}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="tenderDetails.get('typeOfContract')?.errors?.['required']">
                                Type of Work is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>Project Location *</mat-label>
                        <mat-form-field appearance="outline">
                            <input [readonly]="readonly" matInput placeholder="Project Location"
                                formControlName="projectLocation">
                            <mat-error *ngIf="tenderDetails.get('projectLocation')?.errors?.['required']">
                                Enter Project Location
                            </mat-error>
                            <mat-error *ngIf="tenderDetails.get('projectLocation')?.errors?.['maxlength']">
                                Enter only 50 characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>Contract Duration (Months or Days) *</mat-label>
                        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
                            <mat-form-field fxFlex="47%" appearance="outline">
                                <input [readonly]="readonly" matInput numbersOnly placeholder="Contract Duration"
                                    formControlName="contractDuration">
                                <mat-error *ngIf="tenderDetails.get('contractDuration')?.errors?.['required']">
                                    Contract Duration
                                </mat-error>
                                <mat-error *ngIf="tenderDetails.get('contractDuration')?.errors?.['maxlength']">
                                    Enter only 5 digits
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="47%" appearance="outline">
                                <mat-select [disabled]="readonly" placeholder="Months or Days"
                                    formControlName="durationCounter">
                                    <mat-option *ngFor="let item of durationCounterList" [value]="item.id">
                                        {{item.text}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="tenderDetails.get('durationCounter')?.errors?.['required']">
                                    Choose Duration
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>Description of Work *</mat-label>
                        <mat-form-field appearance="outline">
                            <textarea [readonly]="readonly" matInput placeholder="Description of Work"
                                formControlName="workDescription"></textarea>
                            <mat-error *ngIf="tenderDetails.get('workDescription')?.errors?.['required']">
                                Type Description of Work
                            </mat-error>
                            <mat-error *ngIf="tenderDetails.get('workDescription')?.errors?.['maxlength']">
                                Enter only 50 characters
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>Last Date of Submission *</mat-label>
                        <mat-form-field appearance="outline">
                            <input [disabled]="readonly" [readonly]="readonly" matInput [matDatepicker]="picker"
                                placeholder="DD/MM/YYYY" formControlName="lastDateOfSubmission" (click)="picker.open()">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="tenderDetails.get('lastDateOfSubmission')?.errors?.['required']">
                                Choose last date of submission
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>Budget</mat-label>
                        <mat-form-field appearance="outline">
                            <span matPrefix>&#8377;</span>
                            <input [readonly]="readonly" matInput numbersOnly type="text" placeholder="Budget"
                                formControlName="estimatedBudget" [onblur]="transform">
                            <mat-error *ngIf="tenderDetails.get('estimatedBudget')?.errors?.['maxlength']">
                                Enter only 20 digits
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-24" fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                        fxLayout="column" fxLayoutGap="4px">
                        <mat-label>Technical Tender Document *</mat-label>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="12px">
                            <div>
                                <label class="button-upload" for="file" fxLayout="row" fxLayoutAlign="start center"
                                    fxLayoutGap="8px">
                                    <span class="material-icons">cloud_upload</span>
                                    <span class="textLink">Upload File</span>
                                </label>
                                <label for="file">
                                    <input [disabled]="readonly" id="file" type="file" class="form-control"
                                        (change)="onFileChange($event)" hidden>
                                </label>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                                <span *ngIf="!file?.name && !fileName">No file Choosen</span>
                                <span *ngIf="fileName">{{fileName}}</span>
                                <span>{{file?.name}}</span>
                                <button [disabled]="readonly" *ngIf="file?.name" type="button" mat-icon-button
                                    class="icon-approve" matTooltip="Remove Document" matTooltipPosition="right"
                                    (click)="removeSelectedFile(file)">
                                    <span class="material-icons">cancel</span>
                                </button>
                                <button *ngIf="fileName" type="button" mat-icon-button class="icon-approve"
                                    matTooltip="Download Document" matTooltipPosition="right"
                                    (click)="downloadSelectedFile(tenderId)">
                                    <span class="material-icons">cloud_download</span>
                                </button>
                            </div>
                        </div>
                        <div
                            *ngIf="isFileUploaded && tenderDetails.get('file')?.invalid && (tenderDetails.get('file')?.dirty || tenderDetails.get('file')?.touched)">
                            <div *ngIf="tenderDetails.get('file')?.errors?.['required']">
                                File Required
                            </div>
                        </div>
                    </div>
                    <div class="table mb-24" fxFlex="100%" fxLayout="column" fxLayoutGap="8px">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                            <mat-label>Financial Tender Document *</mat-label>
                            <div fxLayout="row" fxLayoutGap="25%">
                                <label class="button-upload" fxLayout="row" fxLayoutAlign="start center"
                                    fxLayoutGap="8px">
                                    <span class="material-icons">cloud_upload</span>
                                    <span class="textLink">Upload File</span>
                                    <input [disabled]="readonly" id="fileTender" type="file"
                                        (change)="importExcel($event)" accept=".xlsx,.csv" hidden>
                                </label>
                            </div>
                        </div>
                        <div class="example-wrapper">
                            <ag-grid-angular [suppressClickEdit]="readonly" class="ag-theme-alpine"
                                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowData]="rowData"
                                [editType]="editType" (gridReady)="onGridReady($event)"
                                (cellClicked)="onCellClicked($event)" (rowEditingStarted)="onRowEditingStarted($event)"
                                (rowEditingStopped)="onRowEditingStopped($event)"
                                (cellValueChanged)="onCellValueChanged($event)"
                                (rowValueChanged)="onRowValueChanged($event)" (gridReady)="onGridReady($event)"
                                (cellEditingStopped)="onCellEditingStopped($event)" [domLayout]="domLayout">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
                <div class="action-btn" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px"
                    *ngIf="router.url != '/tenders/'+tenderId+'/create-pq-form'">
                    <button [disabled]="readonly" mat-button (click)="onSave()">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Save</div>
                        </div>
                    </button>
                    <button [disabled]="readonly" mat-button *ngIf='this.tenderId' (click)="onSubmit()">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Submit</div>
                        </div>
                    </button>
                </div>
            </div>
        </form>
    </mat-card>
</div>