<div class="pq-form">
    <div class="breadcrumbs" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="12px grid">
        <div class="breadcrumbs">
            <xng-breadcrumb [separator]="separatorTemplate" id="titleCase">
                <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info;">
                    <div><i *ngIf="info" class="icon-breadcrumb {{info}}"></i></div>
                    <ng-container>{{ breadcrumb | uppercase }}</ng-container>
                </ng-container>
            </xng-breadcrumb>
        </div>
        <ng-template #separatorTemplate>
            <i class="fa-solid fa-caret-right"></i>
        </ng-template>
        <div fxLayoutAlign="center center">
            <div class="warn" *ngIf="warningMessage" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                <div>
                    <i class="icon-warning fa-solid fa-triangle-exclamation"></i>
                </div>
                <div>
                    <span>{{warningMessage}}</span>
                </div>
            </div>
        </div>
        <div fxLayoutAlign="end center">
            <div class="status" *ngIf="this.pqDocumentIssueDate">
                <span>PQ Submitted Date : </span>
                <span class="text-bold">{{this.pqDocumentIssueDate}}</span>
            </div>
        </div>
    </div>
    <div class="pq-form-body">
        <div class="admin-stepper">
            <mat-card>
                <form [formGroup]="adminPqForm">
                    <div class="project-info" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="12px grid">
                        <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                            fxLayout="column">
                            <mat-label>Name of Project *</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Name of Project" formControlName="projectName">
                                <mat-error *ngIf="adminPqForm.get('projectName')?.errors?.['required']">
                                    Enter Name of Project
                                </mat-error>
                                <mat-error *ngIf="adminPqForm.get('projectName')?.errors?.['maxlength']">
                                    Enter only 50 characters
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                            fxLayout="column">
                            <mat-label>Name of Work Package</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Name of Work Package" formControlName="workPackage"
                                    readonly>
                                <!-- <mat-error *ngIf="adminPqForm.get('workPackage')?.errors?.['required']">
                                    Enter Name of Work Package
                                </mat-error>
                                <mat-error *ngIf="adminPqForm.get('workPackage')?.errors?.['maxlength']">
                                    Enter only 50 characters
                                </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                            fxLayout="column">
                            <mat-label>Nature of Structure *</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Nature of Structure" formControlName="typeOfStructure">
                                <mat-error *ngIf="adminPqForm.get('typeOfStructure')?.errors?.['required']">
                                    Enter Nature of Structure
                                </mat-error>
                                <mat-error *ngIf="adminPqForm.get('typeOfStructure')?.errors?.['maxlength']">
                                    Enter only 50 characters
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                            fxLayout="column">
                            <mat-label>Project Duration (Months or Days)</mat-label>
                            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
                                <mat-form-field fxFlex="47%" appearance="outline">
                                    <input matInput numbersOnly placeholder="Project Duration"
                                        formControlName="contractDuration" readonly>
                                    <!-- <mat-error *ngIf="adminPqForm.get('contractDuration')?.errors?.['required']">
                                        Contract Duration
                                    </mat-error>
                                    <mat-error *ngIf="adminPqForm.get('contractDuration')?.errors?.['maxlength']">
                                        Enter only 5 digits
                                    </mat-error> -->
                                </mat-form-field>
                                <mat-form-field fxFlex="47%" appearance="outline">
                                    <mat-select placeholder="Months or Days" formControlName="durationCounter">
                                        <mat-option *ngFor="let item of pqdurationList" [value]="item.id" disabled>
                                            {{item.text}}
                                        </mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="adminPqForm.get('durationCounter')?.errors?.['required']">
                                        Contract Duration
                                    </mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                            fxLayout="column">
                            <mat-label>Date of Issue of PQ Document *</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker1" placeholder="DD/MM/YYYY"
                                    (click)="picker1.open()" formControlName="pqDocumentIssueDate">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <mat-error *ngIf="adminPqForm.get('pqDocumentIssueDate')?.errors?.['required']">
                                    Choose date of issue of pq document
                                </mat-error>
                            </mat-form-field>
                        </div> -->
                        <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                            fxLayout="column">
                            <mat-label>Last Date for Submission of filled PQ Document *</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker2" placeholder="DD/MM/YYYY"
                                    (click)="picker2.open()" formControlName="pqLastDateOfSubmission">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                <mat-error *ngIf="adminPqForm.get('pqLastDateOfSubmission')?.errors?.['required']">
                                    Choose last date of submission of filled pq document
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                            fxLayout="column">
                            <mat-label>Tentative Date of Award of Works *</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker3" placeholder="DD/MM/YYYY"
                                    (click)="picker3.open()" formControlName="tentativeDateOfAward">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                                <mat-error *ngIf="adminPqForm.get('tentativeDateOfAward')?.errors?.['required']">
                                    Choose tentative date of award of works
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                            fxLayout="column">
                            <mat-label>Scheduled Completion *</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker4" placeholder="DD/MM/YYYY"
                                    (click)="picker4.open()" formControlName="scheduledCompletion"
                                    >
                                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                                <mat-error *ngIf="adminPqForm.get('scheduledCompletion')?.errors?.['required']">
                                    Choose scheduled completion
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                            fxLayout="column"></div>
                    </div>
                    <div class="action-btn" *ngIf="userRole?.includes('admin')" class="action-btn" fxLayout="row"
                        fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button mat-button (click)="onSave()" style="background-color: grey ;" [disabled]="btnState">
                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                                <i class="icon-save fa-solid fa-floppy-disk"></i>
                                <div>Save</div>
                            </div>
                        </button>
                        <button mat-button (click)="onSubmit()" style="background-color: green ;" [disabled]="btnState">
                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                                <i class="icon-submit fa-solid fa-paper-plane"></i>
                                <div>Submit</div>
                            </div>
                        </button>
                    </div>
                    <div *ngIf="userRole?.includes('contractor')" class="action-btn" fxLayout="row"
                        fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button class="button-apply" mat-button type="button" (click)="applyPqForm()">
                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                                <i class="icon-appy fa-solid fa-angles-right"></i>
                                <div>Apply</div>
                            </div>
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>