.pq-form {
    padding: 24px;
}

form mat-label {
    color: #841618;
}

.action-btn {
    padding-top: 12px;
}

.pq-form .mat-button {
    background-color: #841618;
    color: white;
}

.text-bold {
    font-weight: 500;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px 0.8em 0px !important;
    font-size: 12px !important;
}

//breadcrumbs
.pq-form .breadcrumbs {
    padding: 0 0 12px 0;
}

::ng-deep .xng-breadcrumb-root {
    padding: 8px 16px !important;
    display: inline-block !important;
    background-color: #ffffff !important;
}

::ng-deep .xng-breadcrumb-trail {
    color: #841618 !important;
    font-weight: 500 !important;
}

::ng-deep .icon-breadcrumb {
    margin-right: 6px !important;
    font-size: 16px !important;
}

.Icon {
    color: white;
    font-size: 20px;
}

.icon-appy {
    color: white;
    font-size: 20px;
}

.icon-save {
    color: white;
    font-size: 20px;
}

.icon-submit {
    color: white;
    font-size: 16px;
}

::ng-deep .button-apply {
    background-color: green !important;
}

.warn {
    color: #756e15;
    background: #fffbd1;
    border: 1px solid #87803e;
    padding: 6px 16px 6px 16px !important;
}

.status {
    color: #841618;
    background: white;
    padding: 8px 16px 8px 16px !important;
}

button.mat-button-disabled {
    cursor: not-allowed;
}

.readonly-disabled input:disabled {
    cursor: not-allowed;
}

h3 {
    color: #841618;
    font-weight: 500;
}

::ng-deep mat-card {
    border-radius: 0px !important;
    padding: 24px !important;
}

::ng-deep .mat-select-panel {
    margin-top: 36px !important;
}