<div class="pq-form">
    <div class="breadcrumbs">
        <xng-breadcrumb [separator]="separatorTemplate" id="titleCase">
            <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info;">
                <mat-icon class="icon-breadcrumb" *ngIf="info">{{ info }}</mat-icon>
                <ng-container>{{ breadcrumb | uppercase }}</ng-container>
            </ng-container>
        </xng-breadcrumb>
    </div>
    <ng-template #separatorTemplate>
        <mat-icon>arrow_right</mat-icon>
    </ng-template>
    <div class="pq-form-body">
        <div class="admin-stepper">
            <mat-stepper #stepper [orientation]="(stepperOrientation | async)!" *ngIf="userRole?.includes('admin')">
                <ng-template matStepperIcon="tender_details">
                    <mat-icon>wysiwyg</mat-icon>
                </ng-template>
                <mat-step label="Tender Details" state="tender_details" [completed]="false">
                    <div>
                        <app-create-tender [hideBreadcrumbs]="true"></app-create-tender>
                    </div>
                    <div class="action-btn" fxLayoutAlign="end">
                        <button mat-button matStepperNext>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span>Next</span>
                                <mat-icon class="arrow-icons">keyboard_arrow_right</mat-icon>
                            </div>
                        </button>
                    </div>
                </mat-step>
                <ng-template matStepperIcon="add_business">
                    <mat-icon>add_business</mat-icon>
                </ng-template>
                <mat-step [stepControl]="adminPqForm" errorMessage="Fill required project details."
                    label="Project Information" state="add_business" [completed]="false">
                    <form [formGroup]="adminPqForm">
                        <div class="project-info" fxLayout="row wrap" fxLayoutAlign="space-between"
                            fxLayoutGap="12px grid">
                            <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                                fxLayout="column">
                                <mat-label>Name of Project *</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Name of Project" formControlName="nameOfProject">
                                    <mat-error *ngIf="adminPqForm.get('nameOfProject')?.errors?.['required']">
                                        Enter Name of Project
                                    </mat-error>
                                    <mat-error *ngIf="adminPqForm.get('nameOfProject')?.errors?.['maxlength']">
                                        Enter only 50 characters
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                                fxLayout="column">
                                <mat-label>Name of Work Package *</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Name of Work Package"
                                        formControlName="nameOfWorkProject">
                                    <mat-error *ngIf="adminPqForm.get('nameOfWorkProject')?.errors?.['required']">
                                        Enter Name of Work Package
                                    </mat-error>
                                    <mat-error *ngIf="adminPqForm.get('nameOfWorkProject')?.errors?.['maxlength']">
                                        Enter only 50 characters
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                                fxLayout="column">
                                <mat-label>Nature of Structure *</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Nature of Structure"
                                        formControlName="natureOfStructure">
                                    <mat-error *ngIf="adminPqForm.get('natureOfStructure')?.errors?.['required']">
                                        Enter Nature of Structure
                                    </mat-error>
                                    <mat-error *ngIf="adminPqForm.get('natureOfStructure')?.errors?.['maxlength']">
                                        Enter only 50 characters
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                                fxLayout="column">
                                <mat-label>Project Duration (Months or Days) *</mat-label>
                                <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
                                    <mat-form-field fxFlex="47%" appearance="outline">
                                        <input matInput numbersOnly placeholder="Project Duration"
                                            formControlName="projectDuration">
                                        <mat-error *ngIf="adminPqForm.get('projectDuration')?.errors?.['required']">
                                            Contract Duration
                                        </mat-error>
                                        <mat-error *ngIf="adminPqForm.get('projectDuration')?.errors?.['maxlength']">
                                            Enter only 5 digits
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="47%" appearance="outline">
                                        <mat-select placeholder="Months or Days" formControlName="durationCounter">
                                            <mat-option value="days">Days</mat-option>
                                            <mat-option value="months">Months</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="adminPqForm.get('durationCounter')?.errors?.['required']">
                                            Contract Duration
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                                fxLayout="column">
                                <mat-label>Date of Issue of PQ Document *</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker1" placeholder="DD/MM/YYYY"
                                        (click)="picker1.open()" formControlName="dateOfIssueOfPqDocument">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                    <mat-error *ngIf="adminPqForm.get('dateOfIssueOfPqDocument')?.errors?.['required']">
                                        Choose last date of submission
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                                fxLayout="column">
                                <mat-label>Last Date for Submission of filled PQ Document *</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker2" placeholder="DD/MM/YYYY"
                                        (click)="picker2.open()"
                                        formControlName="lastDateOfSubmissionOfFilledPqDocument">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <mat-error
                                        *ngIf="adminPqForm.get('lastDateOfSubmissionOfFilledPqDocument')?.errors?.['required']">
                                        Choose last date of submission
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                                fxLayout="column">
                                <mat-label>Tentative Date of Award of Works *</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker3" placeholder="DD/MM/YYYY"
                                        (click)="picker3.open()" formControlName="tentativeDateOfAwardOfWorks">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                    <mat-error *ngIf="adminPqForm.get('tentativeDateOfAwardOfWorks')?.errors?.['required']">
                                        Choose last date of submission
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%" fxFlex.xl="24%"
                                fxLayout="column">
                                <mat-label>Scheduled Completion *</mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker4" placeholder="DD/MM/YYYY"
                                        (click)="picker4.open()" formControlName="scheduledCompletion">
                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                    <mat-error *ngIf="adminPqForm.get('scheduledCompletion')?.errors?.['required']">
                                        Choose last date of submission
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="action-btn" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px">
                            <button mat-button matStepperPrevious>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <mat-icon class="arrow-icons">keyboard_arrow_left</mat-icon>
                                    <span>Previous</span>
                                </div>
                            </button>
                            <button mat-button style="background-color: grey ;">
                                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
                                    <mat-icon class="Icon">save</mat-icon>
                                    <div>Save</div>
                                </div>
                            </button>
                            <button mat-button (click)="onSubmit()" style="background-color: green ;">
                                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
                                    <mat-icon class="Icon">send</mat-icon>
                                    <div>Submit</div>
                                </div>
                            </button>
                        </div>
                    </form>
                </mat-step>
            </mat-stepper>
        </div>

        <div class="contractor-stepper">
            <mat-stepper #stepper [orientation]="(stepperOrientation | async)!"
                *ngIf="userRole?.includes('contractor')">
                <ng-template matStepperIcon="general_notes">
                    <mat-icon>description</mat-icon>
                </ng-template>
                <mat-step label="General Notes" state="general_notes" [completed]="false">
                    <div>
                        <ol>
                            <li>The pre-qualification document shall be submitted in a sealed cover clearly indicating
                                the Name of the project on top of the cover. Though soft copy form shall be accepted to
                                expedite the process, the hard copy duly signed by contractor shall form the basis of
                                final assessment.
                            </li>
                            <li>The last date for receipt of completed pre-qualification documents with all the
                                necessary certificates, is as specified in the initial section - 'Project Information'
                            </li>
                            <li>Incomplete or incorrect information provided herein by the agency shall result in
                                automatic disqualification including cancellation of the order.
                            </li>
                            <li>TIME shall be the essence of the contract.

                            </li>
                            <li>Only the successful pre-qualified Contractors will be intimated for further.</li>
                            <li>Clients reserve the right to accept or reject any or all applications of
                                pre-qualification without assigning any reasons thereof.
                            </li>
                            <li>Please attach copies Certificates, Work orders, Project photographs, Company Profile etc
                                in support of the information disclosed in this bid.
                            </li>
                        </ol>
                    </div>
                    <div class="action-btn" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px">
                        <button mat-button matStepperPrevious>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <mat-icon class="arrow-icons">keyboard_arrow_left</mat-icon>
                                <span>Previous</span>
                            </div>
                        </button>
                        <button mat-button matStepperNext>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span>Next</span>
                                <mat-icon class="arrow-icons">keyboard_arrow_right</mat-icon>
                            </div>
                        </button>
                    </div>
                </mat-step>
                <ng-template matStepperIcon="vendor_info">
                    <mat-icon>business</mat-icon>
                </ng-template>
                <mat-step label="Vendor's General Company Information" state="vendor_info" [completed]="false">
                    <form>
                        <div>
                            <form>
                                <h3 class="info-header">Company Details</h3>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="12px grid">
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Company Name in Full</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Company Name">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Year of Establishment</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput [matDatepicker]="yearPicker" placeholder="Choose a Year"
                                                [formControl]="date" (click)="yearPicker.open()" [min]="minDate"
                                                [max]="maxDate">
                                            <mat-datepicker-toggle matSuffix [for]="yearPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #yearPicker startView="multi-year"
                                                (yearSelected)="chosenYearHandler($event, yearPicker)">
                                            </mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Type of Establishment</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Type of Establishment">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Postal Address [Corporate Office]</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Postal Address [Corporate Office]">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Postal Address [Local Office]</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Postal Address [Local Office]">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Telephone</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input numbersOnly matInput placeholder="Telephone">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Fax</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Fax">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">

                                    </div>
                                </div>
                                <h3 class="info-header">Contact Person Information</h3>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="12px grid">
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Contact Person</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Contact Person">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Designation</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Designation">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Mobile / Tel.</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Mobile / Tel.">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Email ID</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Email ID">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <h3 class="info-header">Regional Head / Project Coordinator</h3>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="12px grid">
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Name of Regional Head / Project Coordinator</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Name of Regional Head / Project Coordinator">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Mobile No.</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Mobile No.">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">

                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">

                                    </div>
                                </div>

                                <div class="example-wrapper">
                                    <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine"
                                        [columnDefs]="turnoverColumnDefs" [defaultColDef]="turnoverDefaultColDef"
                                        [rowData]="turnoverDetails" [domLayout]="domLayout" [editType]="editType">
                                    </ag-grid-angular>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="12px grid">
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Name & Value of any one similar largest project executed
                                        </mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput
                                                placeholder="Name & Value of any one similar largest project executed">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Scope of Contract</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Scope of Contract">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">
                                        <mat-label>Built Up Area</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Built Up Area">
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex.xs="100%" fxFlex.sm="48%" fxFlex.md="24%" fxFlex.lg="24%"
                                        fxFlex.xl="24%" fxLayout="column">

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="action-btn" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px">
                            <button mat-button matStepperPrevious>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <mat-icon class="arrow-icons">keyboard_arrow_left</mat-icon>
                                    <span>Previous</span>
                                </div>
                            </button>
                            <button mat-button matStepperNext>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <span>Next</span>
                                    <mat-icon class="arrow-icons">keyboard_arrow_right</mat-icon>
                                </div>
                            </button>
                        </div>
                    </form>
                </mat-step>
                <ng-template matStepperIcon="performance_pref">
                    <mat-icon>room_preferences</mat-icon>
                </ng-template>
                <mat-step label="Performance Preferences" state="performance_pref" [completed]="false">
                    <form>
                        <div>
                            <div class="expansion-panel-buttons" fxLayout="row" fxLayoutAlign="end center"
                                fxLayoutGap="8px">
                                <button mat-stroked-button (click)="accordion.openAll()">Expand All </button>
                                <button mat-stroked-button (click)="accordion.closeAll()">Collapse All </button>
                            </div>
                            <mat-accordion class="example-headers-align" #accordion="matAccordion" multi>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Client References of 3 Major Projects
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div>
                                        <ul>
                                            <li>List maximum 3 major projects executed.</li>
                                            <li>Client reserves the right to approach those named to seek a performance
                                                reference and rely on you having obtained the necessary consents.</li>
                                        </ul>
                                    </div>
                                    <div class="example-wrapper">
                                        <ag-grid-angular class="ag-theme-alpine" [columnDefs]="clientRefColumnDefs"
                                            [defaultColDef]="clientRefDefaultColDef" [rowData]="clientRefRowData"
                                            [domLayout]="domLayout" [editType]="editType" [gridOptions]="gridOptions">
                                        </ag-grid-angular>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Projects of Similar Nature
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div>
                                        <ul>
                                            <li>List maximum 3 major projects of similar nature.</li>
                                            <li>Client reserves the right to approach those named to seek a performance
                                                reference and rely on you having obtained the necessary consents.</li>
                                        </ul>
                                    </div>
                                    <div class="example-wrapper">
                                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine"
                                            [columnDefs]="similarNatureColumnDefs"
                                            [defaultColDef]="similarNatureDefaultColDef"
                                            [rowData]="similarNatureRowData" [domLayout]="domLayout"
                                            [editType]="editType">
                                        </ag-grid-angular>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Statutory Compliances
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div>
                                        <ul>
                                            <li>Give references to documents pertaining to statutory compliances here
                                                Specify NA if not available or applicable.</li>
                                        </ul>
                                    </div>
                                    <div class="example-wrapper">
                                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine"
                                            [columnDefs]="statutoryCompliancesColumnDefs"
                                            [defaultColDef]="statutoryCompliancesDefaultColDef"
                                            [rowData]="statutoryCompliancesRowData" [domLayout]="domLayout"
                                            [editType]="editType">
                                        </ag-grid-angular>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Employees Strength
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div>
                                        <ul>
                                            <li>List out the details of Key Professional Staff with relevant experience.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="example-wrapper">
                                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine"
                                            [columnDefs]="employeesStrengthColumnDefs"
                                            [defaultColDef]="employeesStrengthDefaultColDef"
                                            [rowData]="employeesStrengthRowData" [domLayout]="domLayout"
                                            [editType]="editType">
                                        </ag-grid-angular>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Capital Equipments
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div>
                                        <ul>
                                            <li>Major Equipments owned by the company be listed here.</li>
                                            <li>Refer enclosed List of Plant, Machineries, Tools & Equipments available
                                                with us and proposed to be deployed for the project</li>
                                        </ul>
                                    </div>
                                    <div class="example-wrapper">
                                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine"
                                            [columnDefs]="capitalEquipmentsColumnDefs"
                                            [defaultColDef]="capitalEquipmentsDefaultColDef"
                                            [rowData]="capitalEquipmentsRowData" [domLayout]="domLayout"
                                            [editType]="editType">
                                        </ag-grid-angular>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Safety Policy and Systems
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div>
                                        <ul>
                                            <li>Company's policy and resources pertaining to safety may be listed below.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="example-wrapper">
                                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine"
                                            [columnDefs]="safteyPolicyColumnDefs"
                                            [defaultColDef]="safteyPolicyDefaultColDef" [rowData]="safteyPolicyRowData"
                                            [domLayout]="domLayout" [editType]="editType">
                                        </ag-grid-angular>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                        <div class="action-btn" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px">
                            <button mat-button matStepperPrevious>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <mat-icon class="arrow-icons">keyboard_arrow_left</mat-icon>
                                    <span>Previous</span>
                                </div>
                            </button>
                            <button mat-button matStepperNext>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <span>Next</span>
                                    <mat-icon class="arrow-icons">keyboard_arrow_right</mat-icon>
                                </div>
                            </button>
                        </div>
                    </form>
                </mat-step>
                <ng-template matStepperIcon="financial_info">
                    <mat-icon>account_balance_wallet</mat-icon>
                </ng-template>
                <mat-step label="Financial Information" state="financial_info" [completed]="false">
                    <form>
                        <div>
                            <ul>
                                <li>
                                    Provide the following information for the last 3 years for the company (Attach
                                    Annexure
                                    if required)
                                </li>
                                <li>
                                    Client reserves the right to approach those named to seek reference and rely on you
                                    having obtained the necessary consents.
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div class="expansion-panel-buttons" fxLayout="row" fxLayoutAlign="end center"
                                fxLayoutGap="8px">
                                <button mat-stroked-button (click)="accordionFin.openAll()">Expand All </button>
                                <button mat-stroked-button (click)="accordionFin.closeAll()">Collapse All </button>
                            </div>
                            <mat-accordion class="example-headers-align" #accordionFin="matAccordion" multi>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Financial Information
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Rs. In Lakhs
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="example-wrapper">
                                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine"
                                            [columnDefs]="financialColumnDefs" [defaultColDef]="financialDefaultColDef"
                                            [rowData]="financialDetails" [domLayout]="domLayout" [editType]="editType">
                                        </ag-grid-angular>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Company Bankers
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="example-wrapper">
                                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine"
                                            [columnDefs]="companyBankersColumnDefs"
                                            [defaultColDef]="companyBankersDefaultColDef"
                                            [rowData]="companyBankersDetails" [domLayout]="domLayout"
                                            [editType]="editType">
                                        </ag-grid-angular>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Company Auditors
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="example-wrapper">
                                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine"
                                            [columnDefs]="companyAuditorsColumnDefs"
                                            [defaultColDef]="companyAuditorsDefaultColDef"
                                            [rowData]="companyAuditorsDetails" [domLayout]="domLayout"
                                            [editType]="editType">
                                        </ag-grid-angular>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                        <div class="action-btn" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px">
                            <button mat-button matStepperPrevious>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <mat-icon class="arrow-icons">keyboard_arrow_left</mat-icon>
                                    <span>Previous</span>
                                </div>
                            </button>
                            <button mat-button matStepperNext>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <span>Next</span>
                                    <mat-icon class="arrow-icons">keyboard_arrow_right</mat-icon>
                                </div>
                            </button>
                        </div>
                    </form>
                </mat-step>
                <ng-template matStepperIcon="undertaking">
                    <mat-icon>gavel</mat-icon>
                </ng-template>
                <mat-step label="Undertaking" state="undertaking" [completed]="false">
                    <form>
                        <div class="undertaking" fxLayout="column">
                            <mat-radio-button class="example-radio-button">
                                <div>
                                    The information, facts, details etc disclosed in this document is true and correct.
                                    We take responsibility for the correctness of the same.
                                </div>
                            </mat-radio-button>
                        </div>
                        <div class="action-btn" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px">
                            <button mat-button matStepperPrevious>
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <mat-icon class="arrow-icons">keyboard_arrow_left</mat-icon>
                                    <span>Previous</span>
                                </div>
                            </button>
                            <button mat-button style="background-color: grey;">
                                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
                                    <mat-icon class="Icon">save</mat-icon>
                                    <div>Save</div>
                                </div>
                            </button>
                            <button mat-button (click)="onSubmit()" style="background-color: green;">
                                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
                                    <mat-icon class="Icon">send</mat-icon>
                                    <div>Submit</div>
                                </div>
                            </button>
                        </div>
                    </form>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>