<div class="nav-bar">
  <mat-toolbar class="mat-elevation-z6">
    <mat-toolbar-row>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
        <div fxShow="true" fxHide.gt-sm="true">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <a routerLink="home" fxShow="true" fxHide.lt-md>
          <img class="logo" src="assets/images/logo.png">
        </a>
      </div>

      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md *ngFor="let link of links; index as i" fxLayoutAlign="center center">
        <a class="nav-links" mat-button [routerLink]="link" routerLinkActive="router-link-active">{{titles[i]}}</a>
        <span class="nav-divider">|</span>
      </div>
      <button class="login-button" fxShow="true" fxHide.lt-md mat-button routerLink="login">
        Login
      </button>
      <a routerLink="home" fxShow="true" fxHide.gt-sm="true">
        <img class="logo" src="assets/images/logo.png">
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <!-- <a (click)="sidenav.toggle()" mat-list-item>Close <mat-icon>close</mat-icon></a> -->
        <a (click)="clickHandler()" class="nav-links" *ngFor="let link of links; index as i" mat-list-item [routerLink]="link" routerLinkActive="router-link-active">{{titles[i]}}</a>
        <a (click)="clickHandler()" class="login-button" mat-list-item routerLink="login">Login</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill class="sidenav-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>