<mat-toolbar>
  <img src="../assets/logo.png" alt="image">
  <a id='home' class="menu" routerLink="/home">Home</a><mat-divider vertical class="divider"></mat-divider>
  <a class="menu" routerLink="/about">About Us</a><mat-divider vertical class="divider"></mat-divider>
  <a class="menu" routerLink="/home">Service</a><mat-divider vertical class="divider"></mat-divider>
  <a class="menu" routerLink="/about">Projects</a><mat-divider vertical class="divider"></mat-divider>
  <a class="menu" routerLink="/home">Core Values</a><mat-divider vertical class="divider"></mat-divider>
  <a class="menu" routerLink="/about">Contact Us</a><mat-divider vertical class="divider"></mat-divider>
  <a class="menu" routerLink="/home">Login</a>

</mat-toolbar>

<router-outlet></router-outlet>