@font-face {
    font-family: 'Saira';
    src: url(/assets/font/Saira/Saira-VariableFont_wdth,wght.ttf) format("truetype");
}

.menu-spacer {
    flex: 1 1 auto;
}

.sidenav-container {
    height: calc(100vh - 64px) !important;
    background-size: 100% 100%;
    background-color: rgb(231, 231, 231);
}

mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    height: 64px !important;
}

.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

mat-toolbar a {
    font-size: 14px;
}

.nav-divider {
    color: #841618;
    font-size: 24px;
    font-weight: 500;
}

.mat-list-item {
    color: #841618;
}

a {
    text-decoration: none;
    color: #841618;
    font-size: 12p;
    font-weight: 500;
}

.nav-links {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.logo {
    height: 44px !important;
    margin-top: 4px !important;
    padding-left: 12px !important;
}

.router-link-active {
    color: white;
    background: linear-gradient(#e73a3d, #841618);
}

.login-button {
    font-size: 14px !important;
    color: white;
    background: linear-gradient(#e73a3d, #841618);
    font-weight: 500;
    margin-left: 20px !important;
    margin-right: 20px !important;
}



//

.navbar-content {
    padding: 24px;
}

.dashboard {
    width: 100%;
    min-height: 100%;
    background-color: rgb(231, 231, 231);
}

.breadcrumbs {
    padding: 24px 24px 0 24px;
}

::ng-deep .xng-breadcrumb-root {
    padding: 8px 16px !important;
    display: inline-block !important;
    border-radius: 5px !important;
    background-color: #ffffff !important;
}

::ng-deep .xng-breadcrumb-trail {
    color: #841618 !important;
    font-weight: 500 !important;
}

::ng-deep .icon-breadcrumb {
    margin-right: 2px !important;
    font-size: 22px !important;
}


.dashboard-body {
    padding: 24px;
}

.dashboard-body .mat-button {
    background-color: #841618;
    color: white;
}

.fixed-header {
    padding: 24px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px 0.8em 0px !important;
    font-size: 12px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.25em 0 !important;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1.34375em !important;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 32px !important;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.dashboard-body .router-active {
    color: white;
    background-color: #841618;
}

.dashboard-body mat-button-toggle {
    color: #841618;
    background-color: white;
    min-width: 120px;
}

.toggle-first {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: #841618 1px solid;
    border-top: #841618 1px solid;
    border-bottom: #841618 1px solid;
}

.toggle-second {
    border-top: #841618 1px solid;
    border-bottom: #841618 1px solid;
}

.toggle-last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: #841618 1px solid;
    border-top: #841618 1px solid;
    border-bottom: #841618 1px solid;
}

.mat-button-toggle-group-appearance-standard {
    border: none;
}