<div class="user-profile">
    <div class="user-profile-body" fxLayout="column" fxLayoutGap="24px">
        <div class="user-image">
            <label class="hoverable" for="fileInput">
                <img>
                <div class="hover-text">Choose file</div>
                <div class="background"></div>
            </label>
            <br />
            <input id="fileInput" type='file' name="image">
           
        </div>
        <!-- <button *ngIf="url" (click)="delete()">remove photo</button> -->
        <div>
            
        </div>

    </div>
</div>