<div class="compare-applicants">
    <div class="breadcrumbs" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="12px grid">
        <div fxLayoutAlign="center center">
            <xng-breadcrumb [separator]="separatorTemplate">
                <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info;">
                    <div><i *ngIf="info" class="icon-breadcrumb {{info}}"></i></div>
                    <ng-container>{{ breadcrumb | uppercase }}</ng-container>
                </ng-container>
            </xng-breadcrumb>
        </div>
        <ng-template #separatorTemplate>
            <i class="fa-solid fa-caret-right"></i>
        </ng-template>
        <div>
            <button mat-raised-button [routerLink]="['/tenders', tenderId, 'view-applicants']">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                    <div><i class="icon-20p fa-solid fa-eye"></i></div>
                    <div><span>View Applicants</span></div>
                </div>
            </button>
        </div>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="header-label" *ngFor="let item of applicantsData">
                        <div class="profile-info" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
                            <mat-card style="display: none"></mat-card>
                            <div class="bg-grey" fxLayoutAlign="center center" mat-card-avatar>
                                <div class="initials">{{this.item?.companyName[0]+ '' + this.item?.companyName?.split('
                                    ')[1].slice(0, 1)}}</div>
                            </div>
                            <div fxLayout="row" fxLayoutGap="48px">
                                <div fxLayout="column" fxLayoutGap="20px">
                                    <div class="bold-500 font-20p">{{item?.companyName}}</div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="heading" colspan="5"><span>Vendor's General Company Information</span></td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Year of Establishment</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.yearOfEstablishment}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Type of Establishment</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.typeOfEstablishment}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Postal Address [Corporate Office]</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.corpOfficeAddress}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Postal Address [Local Office]</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.localOfficeAddress}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Telephone</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.telephoneNum}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Fax</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.faxNumber}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Contact Person Name</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.contactName}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Designation</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.contactDesignation}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Contact Phone Number</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.contactPhoneNum}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Contact Email ID</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.contactEmailId}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Name of Regional Head / Project Coordinator</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.regionalHeadName}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Mobile No.</div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayoutAlign="center center">{{item.regionalHeadPhoneNum}}</div>
                    </td>
                </tr>
                <tr (click)="applicantsData.expandTurnover = !applicantsData.expandTurnover">
                    <td class="label">
                        <div fxLayoutAlign="space-between center">
                            <div>
                                Turnover Details
                            </div>
                            <div *ngIf="!applicantsData.expandTurnover"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandTurnover"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData" class="label">
                        <div fxLayoutAlign="space-evenly center" fxLayoutGap="12px">
                            <div style="width: 33%;" fxLayoutAlign="space-evenly center">Year 1</div>
                            <div style="width: 33%;" fxLayoutAlign="space-evenly center">Year 2</div>
                            <div style="width: 33%;" fxLayoutAlign="space-evenly center">Year 3</div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandTurnover">
                    <td class="label">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div>Year</div>
                            <div>Revenue (Rs. in Cr)</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div fxLayoutAlign="space-evenly center" fxLayoutGap="12px">
                                <div style="width: 33%;" fxLayoutAlign="space-evenly center"
                                    *ngFor="let item of item.turnOverDetails">{{item.year}}</div>
                            </div>
                            <div fxLayoutAlign="space-evenly center">
                                <div style="width: 33%;" fxLayoutAlign="space-evenly center"
                                    *ngFor="let item of item.turnOverDetails">{{item.revenue}}</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr (click)="applicantsData.expandPerformancePref = !applicantsData.expandPerformancePref">
                    <td class="heading" colspan="5">
                        <div fxLayoutAlign="space-between center">
                            <span>Performance Preferences</span>
                            <div *ngIf="!applicantsData.expandPerformancePref"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandPerformancePref"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandPerformancePref" (click)="applicantsData.expandClientRef = !applicantsData.expandClientRef">
                    <td class="label">
                        <div fxLayoutAlign="space-between center">
                            <span>Client References of 3 Major Projects</span>
                            <div *ngIf="!applicantsData.expandClientRef"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandClientRef"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData" class="label">
                        <div fxLayoutAlign="space-evenly center" fxLayoutGap="12px">
                            <div style="width: 33%;" fxLayoutAlign="space-evenly center">Project 1</div>
                            <div style="width: 33%;" fxLayoutAlign="space-evenly center">Project 2</div>
                            <div style="width: 33%;" fxLayoutAlign="space-evenly center">Project 3</div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandClientRef && applicantsData.expandPerformancePref">
                    <td class="label">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of clientRefData[0].details">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData;let i=index">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of clientRefData[i].project1">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData;let i=index">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of clientRefData[i].project2">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData;let i=index">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of clientRefData[i].project3">{{item}}</div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandPerformancePref"
                    (click)="applicantsData.expandProjectSim = !applicantsData.expandProjectSim">
                    <td class="label">
                        <div fxLayoutAlign="space-between center">
                            <span>Projects of Similar Nature</span>
                            <div *ngIf="!applicantsData.expandProjectSim"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandProjectSim"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData" class="label">
                        <div fxLayoutAlign="space-evenly center" fxLayoutGap="12px">
                            <div style="width: 33%;" fxLayoutAlign="space-evenly center">Project 1</div>
                            <div style="width: 33%;" fxLayoutAlign="space-evenly center">Project 2</div>
                            <div style="width: 33%;" fxLayoutAlign="space-evenly center">Project 3</div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandProjectSim && applicantsData.expandPerformancePref">
                    <td class="label">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of projectSimilarData[0].details">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData;let i=index">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of projectSimilarData[i].project1">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData;let i=index">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of projectSimilarData[i].project2">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData;let i=index">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of projectSimilarData[i].project3">{{item}}</div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandPerformancePref" (click)="applicantsData.expandStatComp = !applicantsData.expandStatComp">
                    <td class="label" colspan="5">
                        <div fxLayoutAlign="space-between center">
                            <span>Statutory Compliances</span>
                            <div *ngIf="!applicantsData.expandStatComp"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandStatComp"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandStatComp && applicantsData.expandPerformancePref">
                    <td class="label">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of statutoryCompliancesHeaders">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                            <div>{{item.esiRegistration}}</div>
                            <div>{{item.epfRegistration}}</div>
                            <div>{{item.gstRegistration}}</div>
                            <div>{{item.panNumber}}</div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandPerformancePref"
                    (click)="applicantsData.expandEmpStrength = !applicantsData.expandEmpStrength">
                    <td class="label" colspan="5">
                        <div fxLayoutAlign="space-between center">
                            <span>Employees Strength</span>
                            <div *ngIf="!applicantsData.expandEmpStrength"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandEmpStrength"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandEmpStrength && applicantsData.expandPerformancePref">
                    <td class="label">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of applicantsData">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                            <div></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandPerformancePref"
                    (click)="applicantsData.expandCapitalEquip = !applicantsData.expandCapitalEquip">
                    <td class="label" colspan="5">
                        <div fxLayoutAlign="space-between center">
                            <span>Capital Equipments</span>
                            <div *ngIf="!applicantsData.expandCapitalEquip"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandCapitalEquip"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandCapitalEquip && applicantsData.expandPerformancePref">
                    <td class="label">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of applicantsData">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                            <div></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandPerformancePref"
                    (click)="applicantsData.expandSafteyPolicy = !applicantsData.expandSafteyPolicy">
                    <td class="label" colspan="5">
                        <div fxLayoutAlign="space-between center">
                            <span>Safety Policy and Systems</span>
                            <div *ngIf="!applicantsData.expandSafteyPolicy"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandSafteyPolicy"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandSafteyPolicy && applicantsData.expandPerformancePref">
                    <td class="label">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of safteyPolicyHeaders">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                            <div>{{item.safetyPolicyManual}}</div>
                            <div>{{item.ppeToStaff}}</div>
                            <div>{{item.ppeToWorkMen}}</div>
                            <div>{{item.safetyOfficeAvailability}}</div>
                        </div>
                    </td>
                </tr>
                <tr (click)="applicantsData.expandFinancialInfo = !applicantsData.expandFinancialInfo">
                    <td class="heading" colspan="5">
                        <div fxLayoutAlign="space-between center">
                            <span>Financial Information</span>
                            <div *ngIf="!applicantsData.expandFinancialInfo"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandFinancialInfo"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandFinancialInfo" (click)="applicantsData.expandFinInfo = !applicantsData.expandFinInfo">
                    <td class="label" colspan="5">
                        <div fxLayoutAlign="space-between center">
                            <span>Financial Information</span>
                            <div *ngIf="!applicantsData.expandFinInfo"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandFinInfo"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandFinInfo && applicantsData.expandFinancialInfo">
                    <td class="label">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of applicantsData">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                            <div></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandFinancialInfo"
                    (click)="applicantsData.expandCompBankers = !applicantsData.expandCompBankers">
                    <td class="label" colspan="5">
                        <div fxLayoutAlign="space-between center">
                            <span>Company Bankers</span>
                            <div *ngIf="!applicantsData.expandCompBankers"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandCompBankers"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandCompBankers && applicantsData.expandFinancialInfo">
                    <td class="label">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of applicantsData">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                            <div></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandFinancialInfo"
                    (click)="applicantsData.expandCompAuditors = !applicantsData.expandCompAuditors">
                    <td class="label" colspan="5">
                        <div fxLayoutAlign="space-between center">
                            <span>Company Auditors</span>
                            <div *ngIf="!applicantsData.expandCompAuditors"><i class="fa-solid fa-add"></i></div>
                            <div *ngIf="applicantsData.expandCompAuditors"><i class="fa-solid fa-minus"></i></div>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="applicantsData.expandCompAuditors && applicantsData.expandFinancialInfo">
                    <td class="label">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngFor="let item of applicantsData">{{item}}</div>
                        </div>
                    </td>
                    <td *ngFor="let item of applicantsData">
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
                            <div></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>