<div class="compare-applicants">
    <div class="breadcrumbs" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="12px grid">
        <div fxLayoutAlign="center center">
            <xng-breadcrumb [separator]="separatorTemplate">
                <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info;">
                    <div><i *ngIf="info" class="icon-breadcrumb {{info}}"></i></div>
                    <ng-container>{{ breadcrumb | uppercase }}</ng-container>
                </ng-container>
            </xng-breadcrumb>
        </div>
        <ng-template #separatorTemplate>
            <i class="fa-solid fa-caret-right"></i>
        </ng-template>
        <div>
            <button mat-raised-button [routerLink]="['/tenders', tenderId, 'view-applicants']">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                    <div><i class="icon-20p fa-solid fa-eye"></i></div>
                    <div><span>View Applicants</span></div>
                </div>
            </button>
        </div>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="header-label" *ngFor="let item of rowData">
                        <div class="profile-info" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
                            <mat-card style="display: none"></mat-card>
                            <div class="bg-grey" fxLayoutAlign="center center" mat-card-avatar>
                                <!-- <div class="initials">{{this.item?.companyName?.substring(0, 1) +
                                    this.item?.companyName?.substring(1, 1)}}</div> -->
                            </div>
                            <div fxLayout="row" fxLayoutGap="48px">
                                <div fxLayout="column" fxLayoutGap="20px">
                                    <!-- <div class="bold-500 font-20p">{{userData.contactFirstName+"
                                        "+userData.contactLastName}}</div> -->
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Company Name</div>
                    </td>
                    <td *ngFor="let item of rowData">
                        <div fxLayoutAlign="center center">{{item.companyName}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Contact Email</div>
                    </td>
                    <td *ngFor="let item of rowData">
                        <div fxLayoutAlign="center center">{{item.contactEmailAddress}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Contact Phone Number</div>
                    </td>
                    <td *ngFor="let item of rowData">
                        <div fxLayoutAlign="center center">{{item.contactPhoneNumber}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Type of Establishment</div>
                    </td>
                    <td *ngFor="let item of rowData">
                        <div fxLayoutAlign="center center">{{item.typeOfEstablishment}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <div fxLayoutAlign="start center">Year of Establishment</div>
                    </td>
                    <td *ngFor="let item of rowData">
                        <div fxLayoutAlign="center center">{{item.yearOfEstablishment}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>