<div class="register-form" fxLayoutAlign="center center">
    <div fxFlex.lg="70" fxFlex.md="90" class="register-form-body">
        <mat-stepper #stepper [orientation]="(stepperOrientation | async)!">
            <mat-step [stepControl]="companyDetails" errorMessage="Fill required company details.">
                <form [formGroup]="companyDetails">
                    <ng-template matStepLabel>Company Details</ng-template>
                    <div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="2px grid">
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Registering as</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="users">
                                    <!-- <mat-option>- - None - -</mat-option>
                                    <mat-option value="client">Client</mat-option>
                                    <mat-option value="customer">Customer</mat-option> -->
                                    <mat-option *ngFor="let role of applicationRoles" [value]="role.roleName">
                                        {{role.roleName}}
                                      </mat-option>
                                </mat-select>
                                <mat-error *ngIf="companyDetails.get('users')?.errors?.['required']">You must
                                    make a selection
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Name</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Company Name" minlength="3" maxlength="50" inputmode="tel"
                                    formControlName="company_name" #nameInput>
                                <mat-error *ngIf="companyDetails.get('company_name')?.errors?.['required']">Company Name
                                    is required</mat-error>
                                <mat-error *ngIf="companyDetails.get('company_name')?.errors?.['minlength']">Name should
                                    be 3 character.</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Year of Establishment</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Year of Establishment"
                                    formControlName="year_of_establishment">
                                <mat-error *ngIf="companyDetails.get('year_of_establishment')?.errors?.['required']">
                                    Year of Establishment is required</mat-error>
                                <mat-error *ngIf="companyDetails.get('year_of_establishment')?.errors?.['pattern']">
                                    Please enter valid year</mat-error>
                                <mat-error
                                    *ngIf="(companyDetails.get('year_of_establishment')?.errors?.['minlength'] || companyDetails.get('year_of_establishment')?.errors?.['maxlength']) && !companyDetails.controls['year_of_establishment'].errors?.['pattern']">
                                    Year must be 4 digits</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Type of Establishment</mat-label>
                            <mat-form-field class="example-chip-list" appearance="outline">
                                <mat-chip-list #chipList aria-label="Type of Establishment selection"
                                    formControlName="typeOfEstablishments">
                                    <mat-chip *ngFor="let typeOfEstablishment of typeOfEstablishments"
                                        (removed)="remove(typeOfEstablishment)">
                                        {{typeOfEstablishment}}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                    <input placeholder="Select type..." #typeOfEstablishmentInput
                                        [formControl]="typeOfEstablishmentCtrl" [matAutocomplete]="auto"
                                        [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                    <mat-option *ngFor="let typeOfEstablishment of filteredTypeOfEstablishments | async"
                                        [value]="typeOfEstablishment">
                                        {{typeOfEstablishment}}
                                    </mat-option>
                                </mat-autocomplete>
                                <!-- <mat-error *ngIf="companyDetails.get('typeOfEstablishments')?.errors?.['required']">
                                    Atleast 1 type should be selected
                                </mat-error> -->
                                <mat-error *ngIf="typeOfEstablishments.length == 0">
                                    Atleast 1 type should be selected
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div formGroupName="addressGroup" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%"
                            fxFlex.lg="45%" fxFlex.xl="45%" fxLayout="column">
                            <mat-label>Address</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Address" formControlName="address">
                                <mat-error *ngIf="companyDetails.get('addressGroup.address')?.errors?.['required']">
                                    Address is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div formGroupName="addressGroup" class="dependency-field" fxFlex.xs="100%" fxFlex.sm="100%"
                            fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%" fxLayout="column">
                            <mat-label>Country</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select a Country" formControlName="country" (selectionChange)="onCountrySelectEvent($event.value)">
                                    <mat-select-filter [placeholder]="'Search'" [displayMember]="'countryName'"
                                        [array]="countries" (filteredReturn)="countryList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of countryList" [value]="item">
                                        {{item.countryName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="companyDetails.get('addressGroup.country')?.errors?.['required']">
                                    Country is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div formGroupName="addressGroup" class="dependency-field" fxFlex.xs="100%" fxFlex.sm="100%"
                            fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%" fxLayout="column">
                            <mat-label>State</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select a State" formControlName="state" (selectionChange)="onStateSelectEvent($event.value)">
                                    <mat-select-filter [placeholder]="'Search'" [displayMember]="'stateName'"
                                        [array]="states" (filteredReturn)="statesList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of statesList" [value]="item">
                                        {{item.stateName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="companyDetails.get('addressGroup.state')?.errors?.['required']">
                                    State is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div formGroupName="addressGroup" class="dependency-field" fxFlex.xs="100%" fxFlex.sm="100%"
                            fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%" fxLayout="column">
                            <mat-label>City</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select a City" formControlName="city">
                                    <mat-select-filter [placeholder]="'Search'" [displayMember]="'cityName'"
                                        [array]="cities" (filteredReturn)="citiesList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of citiesList" [value]="item">
                                        {{item.cityName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="companyDetails.get('addressGroup.city')?.errors?.['required']">
                                    City is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="action-btn" fxLayoutAlign="end">
                        <button mat-button matStepperNext>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span>Next</span>
                                <mat-icon class="arrow-icons">keyboard_arrow_right</mat-icon>
                            </div>
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="personalDetails" errorMessage="Fill required contact details.">
                <form [formGroup]="personalDetails">
                    <ng-template matStepLabel>Contact Person Information</ng-template>
                    <div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="2px grid">
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Name</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Name" minlength="3" inputmode="tel" formControlName="name"
                                    #nameInput>
                                <mat-error *ngIf="personalDetails.controls['name'].errors?.['required']">Name is
                                    required
                                </mat-error>
                                <mat-error *ngIf="personalDetails.get('name')?.errors?.['minlength']">Name should
                                    be 3 character.</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Designation</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Designation" formControlName="designation">
                                <mat-error *ngIf="personalDetails.controls['designation'].errors?.['required']">
                                    Designation is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Mobile</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Mobile" formControlName="phone">
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-error *ngIf="personalDetails.controls['phone'].errors?.['required']">Mobile Number
                                    is required
                                </mat-error>
                                <mat-error *ngIf="personalDetails.controls['phone'].errors?.['pattern']">Please enter
                                    valid mobile number
                                </mat-error>
                                <mat-error
                                    *ngIf="personalDetails.controls['phone'].errors?.['minlength'] || personalDetails.controls['phone'].errors?.['maxlength']">
                                    Mobile number should be 10 digits
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Email Id</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Email Id" formControlName="email">
                                <mat-icon matSuffix>mail_outline</mat-icon>
                                <mat-error *ngIf="personalDetails.controls['email'].errors?.['required']">Email ID is
                                    required
                                </mat-error>
                                <mat-error *ngIf="personalDetails.controls['email'].errors?.['pattern']">Please enter
                                    valid email
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="action-btn" fxLayout="row" fxLayoutAlign="space-between">
                        <button mat-button matStepperPrevious>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <mat-icon class="arrow-icons">keyboard_arrow_left</mat-icon>
                                <span>Previous</span>
                            </div>
                        </button>
                        <button mat-button matStepperNext>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <span>Next</span>
                                <mat-icon class="arrow-icons">keyboard_arrow_right</mat-icon>
                            </div>
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="projectDetails" errorMessage="Fill required project details.">
                <form [formGroup]="projectDetails">
                    <ng-template matStepLabel>Regional Head & Project Coordinator</ng-template>
                    <div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="2px grid">
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Name</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Name" minlength="3" maxlength="50" inputmode="tel"
                                    formControlName="name" #nameInput>
                                <mat-error>Name is required</mat-error>
                                <!-- <mat-error *ngIf="projectDetails.controls['name'].errors?.['minlength']">
                                    Name should be 3 character.
                                </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Mobile</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Mobile" formControlName="phone">
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-error *ngIf="projectDetails.controls['phone'].errors?.['required']">Mobile Number
                                    is required
                                </mat-error>
                                <mat-error *ngIf="projectDetails.controls['phone'].errors?.['pattern']">Please enter
                                    valid mobile number
                                </mat-error>
                                <mat-error
                                    *ngIf="projectDetails.controls['phone'].errors?.['minlength'] || personalDetails.controls['phone'].errors?.['maxlength']">
                                    Mobile number should be 10 digits
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="action-btn" fxLayout="row" fxLayoutAlign="space-between">
                        <button mat-button matStepperPrevious>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <mat-icon class="arrow-icons">keyboard_arrow_left</mat-icon>
                                <span>Previous</span>
                            </div>
                        </button>
                        <button mat-raised-button color="primary" type="submit">Submit</button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </div>
</div>