<div class="register-form" fxLayoutAlign="center center">
    <div fxFlex="100" fxFlex.xl="60" fxFlex.lg="60" fxFlex.md="90" class="register-form-body">
        <mat-stepper #stepper [orientation]="(stepperOrientation | async)!">
            <ng-template matStepperIcon="edit">
                <i class="fa-solid fa-pen-to-square"></i>
            </ng-template>
            <ng-template matStepperIcon="error">
                <i class="icon-error fa-solid fa-triangle-exclamation"></i>
            </ng-template>
            <ng-template matStepperIcon="company_details">
                <i class="fa-solid fa-building"></i>
            </ng-template>
            <mat-step [stepControl]="companyDetails" errorMessage="Fill required company details."
                label="Company Details" state="company_details" [completed]="false">
                <form [formGroup]="companyDetails">
                    <div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="2px grid">
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Registering as</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="users" [(ngModel)]="roleId"
                                    (selectionChange)='onRegisterValueChange()'>
                                    <mat-option *ngFor="let role of applicationRoles" [value]="role.id">
                                        {{role.roleName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="companyDetails.get('users')?.errors?.['required']">You must
                                    make a selection
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Company Name</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Company Name" minlength="3" maxlength="50" inputmode="tel"
                                    formControlName="companyName" #nameInput>
                                <mat-error *ngIf="companyDetails.get('companyName')?.errors?.['required']">Company Name
                                    is required</mat-error>
                                <mat-error *ngIf="companyDetails.get('companyName')?.errors?.['minlength']">Name should
                                    be 3 character.</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Year of Establishment</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Year of Establishment"
                                    formControlName="yearOfEstablishment" numbersOnly>
                                <mat-error *ngIf="companyDetails.get('yearOfEstablishment')?.errors?.['required']">
                                    Year of Establishment is required</mat-error>
                                <mat-error *ngIf="companyDetails.get('yearOfEstablishment')?.errors?.['pattern']">
                                    Please enter valid year</mat-error>
                                <mat-error
                                    *ngIf="(companyDetails.get('yearOfEstablishment')?.errors?.['minlength'] || companyDetails.get('yearOfEstablishment')?.errors?.['maxlength']) && !companyDetails.controls['yearOfEstablishment'].errors?.['pattern']">
                                    Year must be 4 digits</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="93%" fxFlex.xl="93%"
                            fxLayout="column" *ngIf="roleId == 2">
                            <mat-label>Type of Establishment</mat-label>
                            <mat-form-field class="example-chip-list" appearance="outline">
                                <mat-chip-list #chipList aria-label="Type of Establishment selection"
                                    formControlName="typeOfEstablishmentCtrl">
                                    <mat-chip *ngFor="let typeOfEst of typeOfEstablishment"
                                        (removed)="remove(typeOfEst)">
                                        {{typeOfEst.establishmentDescription}}
                                        <button matChipRemove>
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </mat-chip>
                                    <input placeholder="Select type..." #typeOfEstablishmentInput
                                        formControlName="typeOfEstablishmentCtrl" [matAutocomplete]="auto"
                                        [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]=true (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                    <mat-option *ngFor="let typeOfEstab of filteredTypeOfEstablishments | async"
                                        [value]="typeOfEstab">
                                        {{typeOfEstab}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="companyDetails.get('typeOfEstablishmentCtrl')?.errors?.['required']">
                                    Atleast 1 type should be selected
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Address</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Company Address" formControlName="address">
                                <mat-error *ngIf="companyDetails.get('address')?.errors?.['required']">
                                    Company Address is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="dependency-field" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%"
                            fxFlex.xl="45%" fxLayout="column">
                            <mat-label>Country</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select a Country" formControlName="country"
                                    (selectionChange)="onCountrySelectEvent($event.value)">
                                    <mat-select-filter [placeholder]="'Search'" [displayMember]="'countryName'"
                                        [array]="countries" (filteredReturn)="countryList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of countryList" [value]="item">
                                        {{item.countryName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="companyDetails.get('country')?.errors?.['required']">
                                    Country is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="dependency-field" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%"
                            fxFlex.xl="45%" fxLayout="column">
                            <mat-label>State</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select a State" formControlName="state"
                                    (selectionChange)="onStateSelectEvent($event.value)">
                                    <mat-select-filter [placeholder]="'Search'" [displayMember]="'stateName'"
                                        [array]="states" (filteredReturn)="statesList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of statesList" [value]="item">
                                        {{item.stateName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="companyDetails.get('state')?.errors?.['required']">
                                    State is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="dependency-field" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%"
                            fxFlex.xl="45%" fxLayout="column">
                            <mat-label>City</mat-label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select a City" formControlName="city">
                                    <mat-select-filter [placeholder]="'Search'" [displayMember]="'cityName'"
                                        [array]="cities" (filteredReturn)="citiesList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of citiesList" [value]="item">
                                        {{item.cityName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="companyDetails.get('city')?.errors?.['required']">
                                    City is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="action-btn" fxLayoutAlign="end">
                        <button mat-button matStepperNext>
                            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
                                <div>Next</div>
                                <div><i class="fa-solid fa-angle-right"></i></div>
                            </div>
                        </button>
                    </div>
                </form>
            </mat-step>
            <ng-template matStepperIcon="person_info">
                <i class="fa-regular fa-address-card"></i>
            </ng-template>
            <mat-step [stepControl]="personalDetails" errorMessage="Fill required contact details."
                label="Contact Person Information" state="person_info" [completed]="false">
                <form [formGroup]="personalDetails">

                    <div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="12px grid">
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>First Name</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Name" minlength="3" inputmode="tel"
                                    formControlName="contactFirstName" #nameInput>
                                <mat-error
                                    *ngIf="personalDetails.controls['contactFirstName'].errors?.['required']">First Name
                                    is
                                    required
                                </mat-error>
                                <mat-error *ngIf="personalDetails.get('contactFirstName')?.errors?.['minlength']">First
                                    Name should
                                    be 3 character.</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Last Name</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Name" minlength="3" inputmode="tel"
                                    formControlName="contactLastName" #nameInput>
                                <mat-error *ngIf="personalDetails.controls['contactLastName'].errors?.['required']">Last
                                    Name is
                                    required
                                </mat-error>
                                <mat-error *ngIf="personalDetails.get('contactLastName')?.errors?.['minlength']">Last
                                    Name should
                                    be 3 character.</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Designation</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Designation" formControlName="contactDesignation">
                                <mat-error *ngIf="personalDetails.controls['contactDesignation'].errors?.['required']">
                                    Designation is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Mobile</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Mobile" formControlName="contactPhoneNumber" numbersOnly>
                                <i matSuffix class="icon-20p icon-gray fa-solid fa-mobile-screen"></i>
                                <mat-error *ngIf="personalDetails.controls['contactPhoneNumber'].errors?.['required']">
                                    Mobile Number is required
                                </mat-error>
                                <mat-error *ngIf="personalDetails.controls['contactPhoneNumber'].errors?.['pattern']">
                                    Please enter valid mobile number
                                </mat-error>
                                <mat-error
                                    *ngIf="personalDetails.controls['contactPhoneNumber'].errors?.['minlength'] || personalDetails.controls['contactPhoneNumber'].errors?.['maxlength']">
                                    Mobile number should be 10 digits
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            <mat-label>Email Id</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Email Id" formControlName="contactEmailAddress">
                                <i matSuffix class="icon-20p icon-gray fa-regular fa-envelope"></i>
                                <mat-error *ngIf="personalDetails.controls['contactEmailAddress'].errors?.['required']">
                                    Email ID is required
                                </mat-error>
                                <mat-error *ngIf="personalDetails.controls['contactEmailAddress'].errors?.['pattern']">
                                    Please enter valid email
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="45%" fxFlex.lg="45%" fxFlex.xl="45%"
                            fxLayout="column">
                            
                        </div>
                    </div>
                    <div class="action-btn" fxLayout="row" fxLayoutAlign="space-between">
                        <button mat-button matStepperPrevious>
                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                                <div><i class="fa-solid fa-angle-left"></i></div>
                                <div>Previous</div>
                            </div>
                        </button>
                        <button mat-raised-button color="primary"
                            [disabled]="!companyDetails.valid && !personalDetails.valid"
                            (click)="onSubmit()">Submit</button>
                    </div>
                </form>
            </mat-step>

        </mat-stepper>
    </div>
</div>