.payment-form {
    padding: 24px;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px 0.8em 0px !important;
    font-size: 12px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix {
    place-self: center !important;
    padding-bottom: 2px !important;
}

::ng-deep .mobile-prefix {
    font-size: 11.6px !important;
}

::ng-deep mat-card {
    border-radius: 0px !important;
    padding: 24px !important;
}

h3 {
    color: #841618;
    font-weight: 500;
}

mat-label {
    color: #841618;
}

mat-error {
    margin-top: 20px !important;
}

.material-icons {
    color: #841618;
}

.fa-icons {
    color: #841618;
    font-size: 18px;
}

.icon-download {
    color: #841618;
    font-size: 22px;
}

.icon-warning {
    color: #841618;
    font-size: 18px;
}

::ng-deep .icon-button {
    cursor: pointer !important;
}

::ng-deep .mat-tooltip {
    background-color: #841618 !important;
}

.mb-24 {
    margin-bottom: 24px;
}

mat-header-row {
    min-height: 40px;
}

::ng-deep .payment-body .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.text-bold {
    font-weight: 500;
}

.text-maroon {
    color: #841618;
}

//breadcrumbs
.breadcrumbs {
    padding: 0px !important;
    margin-bottom: 0px !important;
}

.warn {
    color: #756e15;
    background: #fffbd1;
    border: 1px solid #87803e;
    padding: 6px 16px 6px 16px !important;
}

.status {
    color: #841618;
    background: white;
    padding: 8px 16px 8px 16px !important;
}

::ng-deep .xng-breadcrumb-root {
    padding: 8px 16px !important;
    display: inline-block !important;
    background-color: #ffffff !important;
}

::ng-deep .xng-breadcrumb-trail {
    color: #841618 !important;
    font-weight: 500 !important;
}

::ng-deep .icon-breadcrumb {
    margin-right: 6px !important;
    font-size: 16px !important;
}

//ag-grid cell text wrap in words
::ng-deep ag-grid-angular {
    width: 100% !important;
}

::ng-deep .ag-root-wrapper-body.ag-layout-normal.ag-focus-managed {
    height: 100% !important;
}

::ng-deep .ag-cell-wrap-text {
    word-break: break-word !important;
}

::ng-deep .ag-theme-alpine {
    --ag-odd-row-background-color: #f0f0f0 !important;
}

::ng-deep.ag-theme-alpine .ag-row-odd {
    background-color: var(--ag-odd-row-background-color) !important;
}

.icon-save {
    color: white;
    font-size: 20px;
}

.icon-submit {
    color: white;
    font-size: 16px;
}

.icon-20p {
    font-size: 20px;
}

button.mat-button-disabled {
    cursor: not-allowed;
}

input[type="file" i]:disabled {
    cursor: not-allowed;
}

::ng-deep .mat-select-panel {
    margin-top: 36px !important;
}

input[type="checkbox" i] {
    margin: 0px 3px 3px 4px;
}

.error-msg {
    font-size: 10.5px !important;
    color: #f44336;
    margin-left: 11px !important;
}