.profile {
    color: #841618;
    padding: 24px;
}

::ng-deep .profile mat-card {
    border-radius: 0px !important;
    padding: 48px !important;
}

::ng-deep .mat-stroked-button {
    background-color: white;
}

.action-buttons {
    margin-bottom: 8px;
}

.initials {
    color: #FFFFFF;
    line-height: 19px;
    letter-spacing: 0.2625px;
}

::ng-deep h3 {
    font-weight: 500 !important;
    color: #841618 !important;
    margin-bottom: 0px !important;
}

::ng-deep .profile .mat-card-avatar {
    width: 100px !important;
    height: 100px !important;
    font-size: 60px !important;
}

.icon-32p {
    font-size: 32px;
    color: #841618;
}