<div class="profile" fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="12px grid">
    <h2>User Information</h2>
    <div class="action-buttons" fxLayout="row" fxLayoutGap="8px">
      <a mat-stroked-button href="{{updatePwdUrl}}">
        <div fxLayout="row" fxLayoutGap="8px">
          <div><i class="fa-solid fa-lock"></i></div>
          <div>Change Password</div>
        </div>
      </a>
      <button mat-stroked-button (click)="enableForm(true)">
        <div fxLayout="row" fxLayoutGap="8px">
          <div><i class="fa-solid fa-user-pen"></i></div>
          <div>Edit User Profile</div>
        </div>
      </button>
    </div>
  </div>

  <div>
    <mat-card>
      <mat-drawer-container class="example-container">
        <mat-drawer class="mat-drawer" mode="side" opened>
          <div class="profile-info" fxLayout="column" fxLayoutGap="28px">
            <div class="bg-grey" fxLayoutAlign="center center" mat-card-avatar>
              <div class="initials">{{initials}}</div>
            </div>
            <div fxLayout="row" fxLayoutGap="48px">
              <div fxLayout="column" fxLayoutGap="20px">
                <div class="bold-500 font-20p">{{userData?.contactFirstName+" "+userData?.contactLastName}}</div>
                <div fxLayout="column" fxLayoutGap="4px">
                  <div class="font-grey">Company Name</div>
                  <div>{{userData?.companyName}}</div>
                </div>
                <div fxLayout="column" fxLayoutGap="4px">
                  <div class="font-grey">Email Address</div>
                  <div>{{userData?.contactEmailAddress}}</div>
                </div>
              </div>
            </div>
          </div>
        </mat-drawer>
        <mat-drawer-content class="mat-drawer-content">
          <div class="drawer-content">
            <form [formGroup]="editUserForm">
              <div class="drawer-content" fxLayout="column" fxLayoutGap="20px">
                <div fxLayout="column">
                  <div fxLayout="column" fxLayoutGap="8px">
                    <div>
                      <h3>Company Details</h3>
                    </div>
                    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="12px grid">
                      <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="49%" fxFlex.lg="33%" fxFlex.xl="24%"
                        fxLayout="column">
                        <mat-label>Year of Establishment</mat-label>
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="Year of Establishment" formControlName="yearOfEstablishment"
                            numbersOnly>
                          <mat-error *ngIf="editUserForm.get('yearOfEstablishment')?.errors?.['required']">
                            Year of Establishment is required</mat-error>
                          <mat-error *ngIf="editUserForm.get('yearOfEstablishment')?.errors?.['pattern']">
                            Please enter valid year</mat-error>
                          <mat-error
                            *ngIf="(editUserForm.get('yearOfEstablishment')?.errors?.['minlength'] || editUserForm.get('yearOfEstablishment')?.errors?.['maxlength']) && !editUserForm.controls['yearOfEstablishment'].errors?.['pattern']">
                            Year must be 4 digits</mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="49%" fxFlex.lg="66%" fxFlex.xl="50%"
                        fxLayout="column">
                        <mat-label>Address</mat-label>
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="Company Address" formControlName="address">
                          <mat-error *ngIf="editUserForm.get('address')?.errors?.['required']">
                            Company Address is required
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="49%" fxFlex.lg="33%" fxFlex.xl="24%"
                        fxLayout="column"></div>
                    </div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="12px grid">
                    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="49%" fxFlex.lg="33%" fxFlex.xl="24%"
                      fxLayout="column">
                      <mat-label>Country</mat-label>
                      <mat-form-field appearance="outline">
                        <mat-select placeholder="Select a Country" formControlName="countryIsoCode"
                          (selectionChange)="onCountrySelectEvent($event.value)">
                          <mat-select-filter [placeholder]="'Search'" [displayMember]="'countryName'"
                            [array]="countries" (filteredReturn)="countryList =$event"></mat-select-filter>
                          <mat-option *ngFor="let item of countryList" [value]="item.countryIsoCode">
                            {{item.countryName}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="editUserForm.get('country')?.errors?.['required']">
                          Country is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="49%" fxFlex.lg="33%" fxFlex.xl="24%"
                      fxLayout="column">
                      <mat-label>State</mat-label>
                      <mat-form-field appearance="outline">
                        <mat-select placeholder="Select a State" formControlName="stateIsoCode"
                          (selectionChange)="onStateSelectEvent($event.value)">
                          <mat-select-filter [placeholder]="'Search'" [displayMember]="'stateName'" [array]="states"
                            (filteredReturn)="statesList =$event"></mat-select-filter>
                          <mat-option *ngFor="let item of statesList" [value]="item.stateIsoCode">
                            {{item.stateName}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="editUserForm.get('state')?.errors?.['required']">
                          State is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="49%" fxFlex.lg="33%" fxFlex.xl="24%"
                      fxLayout="column">
                      <mat-label>City</mat-label>
                      <mat-form-field appearance="outline">
                        <mat-select placeholder="Select a City" formControlName="cityId">
                          <mat-select-filter [placeholder]="'Search'" [displayMember]="'cityName'" [array]="cities"
                            (filteredReturn)="citiesList =$event"></mat-select-filter>
                          <mat-option *ngFor="let item of citiesList" [value]="item.id">
                            {{item.cityName}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="editUserForm.get('city')?.errors?.['required']">
                          City is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="49%" fxFlex.lg="33%" fxFlex.xl="24%"
                      fxLayout="column"></div>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="12px grid">
                    <div *ngIf="userRole?.includes('contractor')" fxFlex="100%" fxLayout="column">
                      <mat-label>Type of Establishment</mat-label>
                      <mat-form-field class="example-chip-list" appearance="outline">
                        <mat-chip-list #chipList aria-label="Type of Establishment selection"
                          formControlName="typeOfEstablishment">
                          <mat-chip *ngFor="let typeOfEst of typeOfEstablishments" [selectable]=true
                            [selected]="typeOfEst.selected ? '': null" [removable]=true (removed)="remove(typeOfEst)">
                            {{typeOfEst.establishmentDescription}}
                            <button matChipRemove>
                              <i class="fa-solid fa-xmark"></i>
                            </button>
                          </mat-chip>
                          <input placeholder="Select type..." #typeOfEstablishmentInput matChipInput
                            [formControl]="typeOfEstablishmentCtrl" [matAutocomplete]="auto"
                            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]=true (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="add($event)">
                          <mat-option *ngFor="let typeOfEstab of filteredTypeOfEstablishments | async" [value]="typeOfEstab">
                            {{typeOfEstab.establishmentDescription}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="editUserForm.get('typeOfEstablishment')?.errors?.['required']">
                          Atleast 1 type should be selected
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div fxLayout="column" fxLayoutGap="8px">
                  <div>
                    <h3>Contact Person Information</h3>
                  </div>
                  <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="12px grid">
                    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="49%" fxFlex.lg="33%" fxFlex.xl="24%"
                      fxLayout="column">
                      <mat-label>First Name</mat-label>
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Name" minlength="3" inputmode="tel"
                          formControlName="contactFirstName" #nameInput>
                        <mat-error *ngIf="editUserForm.controls['contactFirstName'].errors?.['required']">First Name
                          is required
                        </mat-error>
                        <mat-error *ngIf="editUserForm.get('contactFirstName')?.errors?.['minlength']">First
                          Name should be 3 character.</mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="49%" fxFlex.lg="33%" fxFlex.xl="24%"
                      fxLayout="column">
                      <mat-label>Last Name</mat-label>
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Name" minlength="3" inputmode="tel"
                          formControlName="contactLastName" #nameInput>
                        <mat-error *ngIf="editUserForm.controls['contactLastName'].errors?.['required']">Last
                          Name is required
                        </mat-error>
                        <mat-error *ngIf="editUserForm.get('contactLastName')?.errors?.['minlength']">Last
                          Name should be 3 character.</mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="49%" fxFlex.lg="33%" fxFlex.xl="24%"
                      fxLayout="column">
                      <mat-label>Designation</mat-label>
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Designation" formControlName="contactDesignation">
                        <mat-error *ngIf="editUserForm.controls['contactDesignation'].errors?.['required']">
                          Designation is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="49%" fxFlex.lg="33%" fxFlex.xl="24%"
                      fxLayout="column">
                      <mat-label>Mobile</mat-label>
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Mobile" formControlName="contactPhoneNumber" numbersOnly>
                        <i matSuffix class="icon-20p icon-gray fa-solid fa-mobile-screen"></i>
                        <mat-error *ngIf="editUserForm.controls['contactPhoneNumber'].errors?.['required']">
                          Mobile Number is required
                        </mat-error>
                        <mat-error *ngIf="editUserForm.controls['contactPhoneNumber'].errors?.['pattern']">
                          Please enter valid mobile number
                        </mat-error>
                        <mat-error
                          *ngIf="editUserForm.controls['contactPhoneNumber'].errors?.['minlength'] || editUserForm.controls['contactPhoneNumber'].errors?.['maxlength']">
                          Mobile number should be 10 digits
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="action-btn" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px">
                <button mat-raised-button color="primary" (click)="update()" *ngIf="isDisabled == false">Update</button>
                <button mat-raised-button *ngIf="isDisabled == false" (click)="reset()">Cancel</button>
              </div>
            </form>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </mat-card>
  </div>
</div>