<div class="login-page" fxLayoutAlign="center center">
    <div>
        <mat-card>
            <mat-card-content>
                <form fxLayout="column" fxLayoutGap="12px grid" [formGroup]="loginForm">
                    <h2>Forgot Password</h2>
                    <mat-label>Email</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Email" formControlName="email" required>
                        <mat-error>
                            Please provide a valid email address
                        </mat-error>
                    </mat-form-field>
                    <div class="submit-form" fxLayout="column" fxLayoutGap="12px">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <button mat-stroked-button type="submit" color="primary">Submit</button>
                            <button mat-raised-button color="primary" routerLink="/login">Cancel</button>
                        </div>
                        <p>We will send reset password link to your email</p>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

</div>