<div>
    <mat-form-field appearance="outline" *ngIf="tenderId && this.tenderDetails?.get('workflowStep')?.value !='Draft' ">
        <mat-select placeholder="Actions" (valueChange)="onSelected($event)">
            <mat-option value='PQForm'>PQ-Form</mat-option>
            <mat-option
                *ngIf="!userRole?.includes('contractor') && this.tenderDetails?.get('workflowStep')?.value =='Under Process'"
                [routerLink]="['/tenders', tenderId, 'view-applicants']">
                View Applicants
            </mat-option>
            <mat-option *ngIf="userRole?.includes('contractor')" value={{applicantLabel}} [disabled]="optionApplnState">
                {{applicantLabel}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>