<div class="dashboard">
    <div class="dashboard-body">
        <div class="fixed-header" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutGap="24px">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="toggle-first" routerLink="tenders" routerLinkActive="router-active">
                        Tenders
                    </mat-button-toggle>
                    <mat-button-toggle routerLink="clients" routerLinkActive="router-active">Clients
                    </mat-button-toggle>
                    <mat-button-toggle class="toggle-last" routerLink="contractors" routerLinkActive="router-active">
                        Contractors</mat-button-toggle>
                </mat-button-toggle-group>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="toggle-first" routerLink="pending-approvals"
                        routerLinkActive="router-active">Pending Approvals
                    </mat-button-toggle>
                    <mat-button-toggle class="toggle-last" routerLink="audit-approvals"
                        routerLinkActive="router-active">Audit Approvals
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="dashboard-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>