<div class="home-page">
    <marquee behavior="scroll" direction="left"><a href="/signup">Register for free by clicking here...</a></marquee>
    <div class="home-page-body" fxLayout="column">
        <div class="btn-group" fxLayout="row wrap" fxLayoutAlign="end" fxLayoutGap="12px grid">
            <div>
                <button mat-raised-button (click)="goToSignUp(1)">{{constVariable.btnRegisterAsClient}}</button>
            </div>
            <div class="last-button">
                <button mat-raised-button (click)="goToSignUp(2)">{{constVariable.btnRegisterAsContractor}}</button>
            </div>
        </div>
        <div fxLayout="column">
            <h1>Gummadi Built</h1>
            <h2>Construction projects in India has been hugely delaying for multiple reasons.</h2>
            <button mat-stroked-button routerLink="/read-more" routerLinkActive="router-link-active">Read More</button>
        </div>
    </div>
</div>
<app-footer></app-footer>