<div class="login-page" fxLayoutAlign="center center">
    <div>
        <mat-card>
            <mat-card-content>
                <form fxLayout="column" [formGroup]="resetPasswordForm">
                    <h2>Reset Password</h2>
                    <mat-label>Current Password</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Current Password" formControlName="password" required>
                    </mat-form-field>
                    <mat-label>New Password</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="New Password" formControlName="new_password" required>
                    </mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Confirm Password" formControlName="confirm_password" required>
                    </mat-form-field>
                    <div class="submit-form" fxLayout="column" fxLayoutGap="12px">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <button mat-stroked-button type="submit" color="primary">Submit</button>
                            <button mat-raised-button color="primary" routerLink="/login">Cancel</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>